<li>
  <%= link_to(ninth_age_special_rule_path(special_rule.special_rule_id), {:target => "_blank"}) do %><%= special_rule.special_rule.name %> 
    <%if !special_rule.info.nil? || !special_rule.jet.nil?%>
      (<%= special_rule.jet %><%= ", " unless special_rule.jet.nil? && special_rule.info.nil? %><%= special_rule.info%>)
    <%end%>
  <%end%>
  <% if access_admin %>
    <%= link_to(admin_ninth_age_special_rule_unit_troop_path(special_rule.id), {:target => "_blank"}) do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  <% end %>,
</li>