<% title t('confirmation.title') -%>

<h2><%=t 'confirmation.title' %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.email_field :email, placeholder: t('confirmation.form.email'), autofocus: true %></p>

  <p><%= f.submit t('confirmation.form.submit') %></p>
<% end %>

<%= link_to t('confirmation.lost.password'), new_password_path(resource_name) %><br />
<%== t('confirmation.information') %>
