<div class="show-paint-list">
  <p id="notice"><%= notice %></p>

  <h1><strong>Paint list:</strong> <%= @paint_list.name %></h1>

  <div class="pull-right">
  	<i class="fa fa-3x fa-plus pull-right" data-paint-list-id="<%= @paint_list.id %>"></i>
  	<%= select_tag(:unit_id, grouped_options_for_select(NinthAge::Unit.for_paint_select(@paint_list)), {class: 'form-control', style: 'width:80%;'}) %>
  </div>

  <div>
    <table class="paint_list_units">
    	<thead>
    	  <tr>
    	  	<th class="name"><%= t('paint_list.unit') %></th>
    	  	<th class="size"><%= t('paint_list.size') %></th>
    	  	<th class="step"><%= t('paint_list.buy') %></th>
    	  	<th class="step"><%= t('paint_list.trimmed') %></th>
    	  	<th class="step"><%= t('paint_list.assembled') %></th>
    	  	<th class="step"><%= t('paint_list.first_color') %></th>
    	  	<th class="step"><%= t('paint_list.paint') %></th>
    	  	<th class="step"><%= t('paint_list.plinth') %></th>
    	  	<th><%= t('paint_list.comment') %></th>
        </tr>
    	</thead>
    	<tbody>
    	  <% @paint_list.paint_list_units.each do |paint_list_unit|%>
    	  <tr>
    	  	<td><%= paint_list_unit.unit.name %></td>
    	  	<td class="size">
    	  		<span class="size" id="size-<%= paint_list_unit.id %>"><%= paint_list_unit.size %></span>
    	  		<input type="number" min="1" name="size" class="edit-size hidden" id="edit-size-<%= paint_list_unit.id %>">
    	  	</td>
    	  	<% Paint::PaintListUnit.steps.each do |step| %>
    	  	  <% next if step[1] == 0 %>
    	  	  <% if paint_list_unit.step == step[0] %>
    	  	  	<% p 'same step' %>
    	  	  	<%= content_tag(:td, {class: "step #{paint_list_unit.state}", 'data-step-id': step[1], 'data-id': paint_list_unit.id, 'data-step': step[0], 'data-state': paint_list_unit.state }) do %><%= paint_list_unit.state %><% end %>
    	  	  <% elsif Paint::PaintListUnit.steps[paint_list_unit.step] > step[1] %>
    	  	  	<% p 'previous step' %>
    	  	  	<%= content_tag(:td, {class: 'step done', 'data-step-id': step[1], 'data-id': paint_list_unit.id, 'data-step': step[0], 'data-state': 'done' }) do %>done<% end %>
    	  	  <% else %>
    	  	  	<% p 'else step' %>
    	  	  	<%= content_tag(:td, {class: 'step', 'data-step-id': step[1], 'data-id': paint_list_unit.id, 'data-step': step[0], 'data-state': 'waiting' }) do %>-<% end %>
    	  	  <% end %>
    	  	<%end%>
    	  	<td>
    	  		<span class="comment" id="comment-<%= paint_list_unit.id %>"><%= paint_list_unit.comment %></span>
    	  		<input type="text" name="comment" class="edit-comment hidden" id="edit-comment-<%= paint_list_unit.id %>">
    	  		<i class="fa fa-trash fa-2x pull-right" data-comment-id="<%= paint_list_unit.id %>"></i>
    	  		<i class="fa fa-edit fa-2x pull-right" data-comment-id="<%= paint_list_unit.id %>"></i>
    	  		<i class="fa fa-save fa-2x pull-right hidden" data-comment-id="<%= paint_list_unit.id %>"></i>
    	  	</td>
    	  </tr>
    	  <% end %>
    	</tbody>
    </table>
  </div>

  <div class="text-center">
    <%= link_to 'Edit', edit_paint_paint_list_path(@paint_list) %> |
    <%= link_to 'Back', builder_army_lists_path %>
  </div>
</div>