<div class="army_list_magic">
	<div class="text-center">
		<%= image_tag magic.logo.url, alt: magic.name, height: 99, class: 'block-center' %>
		<h4><%= magic.name %></h4>
	</div>
	<div class="text-center">
		<p><%= magic.display_description %></p>
	</div>
	<table class="army_magic_spell">
		<thead>				
			<tr>
				<th></th>
				<th class="text-center text-italic">
					<%= t('magic.casting') %>
				</th>
				<th class="text-center text-italic">
					<%= t('magic.range') %>
				</th>
				<th class="text-center text-italic">
					<%= t('magic.type') %>
				</th>
				<th class="text-center text-italic">
					<%= t('magic.duration') %>
				</th>
				<th class="text-center text-italic magic-effect">
					<%= t('magic.effect') %>
				</th>
			</tr>	
		</thead>
		<tbody>
			<% magic.domain_magic_spells.each.with_index do |spell, index| %>
				<tr>
					<td colspan="5"><%= spell.name %></td>
					<td rowspan="2"><%= spell.display_effect %></td>
				</tr>
				<tr>
					<td class="text-center">
						<%unless spell.type_lvl.nil?%>
							<%= spell.display_type_lvl %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.casting_value.nil?%>
							<%= spell.display_casting_value %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.range.nil?%>
							<%= spell.display_range %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.type_target.nil?%>
							<%= spell.display_type_target %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.duration.nil?%>
							<%= spell.display_duration %>
						<%end%>
					</td>
				</tr>
		    <% end %>	
		</tbody>
	</table>
</div>