<div class="army_list_magic">
	<div class="text-center">
		<%= image_tag magic.logo.url, alt: magic.name, height: 99, class: 'block-center' %>
		<h4><%= magic.name %></h4>
	</div>
	<div class="text-center">
		<p><%= magic.description.to_highlight unless magic.description.nil? %></p>
	</div>
	<table class="army_magic_spell">
		<thead>				
			<tr>
				<th class="text-center text-italic"></th>
				<th class="text-center text-italic"></th>
				<th class="text-center text-italic">
					<%= t('magic.casting') %>
				</th>
				<th class="text-center text-italic">
					<%= t('magic.range') %>
				</th>
				<th class="text-center text-italic">
					<%= t('magic.type') %>
				</th>
				<th class="text-center text-italic">
					<%= t('magic.duration') %>
				</th>
				<th class="text-center text-italic magic-effect">
					<%= t('magic.effect') %>
				</th>
			</tr>	
		</thead>
		<tbody>
			<% magic.domain_magic_spells.each.with_index do |spell, index| %>
				<tr>
					<td class="text-center">
						<%unless spell.type_lvl.nil?%>
							<%= spell.display_type_lvl %>
						<%end%>
					</td>
					<td class="text-center">
						<%= spell.name %>
					</td>
					<td class="text-center">
						<%unless spell.casting_value.nil?%>
							<%= spell.casting_value.to_highlight unless spell.casting_value.nil? %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.range.nil?%>
							<%= spell.range.to_highlight unless spell.range.nil? %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.type_target.nil?%>
							<%= spell.display_type_target %>
						<%end%>
					</td>
					<td class="text-center">
						<%unless spell.duration.nil?%>
							<%= spell.display_duration %>
						<%end%>
					</td>
					<td class="magic-spell-effect">
						<%= spell.effect.to_highlight unless spell.effect.nil? %>
					</td>
				</tr>
		    <% end %>	
		</tbody>
	</table>
</div>