<% mounts_option = army_list_unit.unit_options.only_mounts.first %>
<table class="army_list_unit">
  <tr>
    <th colspan="11" class="army_list_unit_overview">
      <div class="value_points"><%= value_points army_list_unit.value_points %>
        <small>points</small>
      </div>

      <div class="unit-organisation-logo">
        <% army_list_unit.unit.organisations.each do |organisation| %>
          <% unless organisation.logo.nil? %>
            <%= image_tag organisation.thumb_logo_url, size: '40x40', alt: organisation.name, border: 0 %>
          <% end %>
        <% end %>
      </div>
      <div>
        <strong><%= transliterate army_list_unit.name %></strong>
        <p><%= army_list_unit.unit.name %>
          <span class="text-bold">
            <% if army_list_unit.unit.max == 1%> • <em>Unique</em><% end %>
            <% if army_list_unit.size > 1 %> x<%= army_list_unit.size %><% end %>
          </span>
        </p>
      </div>
    </th>
  </tr>
  <% if army_list_unit.unit.V1? %>
      <tr class="army_list_unit_troops">
        <th class="troop_name"><%= t('army_list_unit.show.troops.name') %></th>
        <th class="odd"><%= t('army_list_unit.show.troops.M') %></th>
        <th><%= t('army_list_unit.show.troops.WS') %></th>
        <th class="odd"><%= t('army_list_unit.show.troops.BS') %></th>
        <th><%= t('army_list_unit.show.troops.S') %></th>
        <th class="odd"><%= t('army_list_unit.show.troops.T') %></th>
        <th><%= t('army_list_unit.show.troops.W') %></th>
        <th class="odd"><%= t('army_list_unit.show.troops.I') %></th>
        <th><%= t('army_list_unit.show.troops.A') %></th>
        <th class="odd"><%= t('army_list_unit.show.troops.LD') %></th>
        <th>Type</th>
      </tr>

      <!-- TROOPS -->
      <%= render :partial => 'export_unit_troop', :collection => army_list_unit.army_list_unit_troops.select { |alut| alut.troop.unit_option.nil? or army_list_unit.unit_options.include?(alut.troop.unit_option) }, :as => :alut %>
      <% if army_list_unit.unit_options.include?(mounts_option) %>
          <%= render :partial => 'export_troop', :collection => mounts_option.mount.troops.all, :as => :troop %>
      <% end %>

      <!-- EQUIPMENTS -->
      <%= render :partial => 'export_equipment', :locals => {:equipments => army_list_unit.unit.equipment_unit_troops.where(:troop_id => nil), :troop => nil} %>
      <% army_list_unit.unit.troops.select { |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }.each do |troop| %>
          <%= render :partial => 'export_equipment', :locals => {:equipments => troop.equipment_unit_troops, :troop => troop} %>
      <% end %>
      <% if army_list_unit.unit_options.include?(mounts_option) %>
          <%= render :partial => 'export_equipment', :locals => {:equipments => mounts_option.mount.equipment_unit_troops, :troop => mounts_option.mount.troops.first} %>
      <% end %>

      <!-- SPECIAL RULES -->
      <%= render :partial => 'export_special_rule', :locals => {:special_rules => army_list_unit.unit.special_rule_unit_troops.where(:troop_id => nil), :troop => nil} %>
      <% army_list_unit.unit.troops.select { |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }.each do |troop| %>
          <%= render :partial => 'export_special_rule', :locals => {:special_rules => troop.special_rule_unit_troops, :troop => troop} %>
      <% end %>
      <% if army_list_unit.unit_options.include?(mounts_option) %>
          <%= render :partial => 'export_special_rule', :locals => {:special_rules => mounts_option.mount.special_rule_unit_troops, :troop => mounts_option.mount.troops.first} %>
      <% end %>

      </table>
  <% elsif army_list_unit.unit.V2? %>
      </table>
      <div class="army_list_unit_troops_v2">
        <div class="stats-perso">
          <table class="content-stats stats-global">
            <thead>
              <tr>
                <td><%= t 'ninth_age.unit.global' %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_ground_adv %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_ground_mar %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_dis %></td>
                <td>
                <% unless army_list_unit.unit.carac_evoked.nil? %>
                    <%= NinthAge::Unit.human_attribute_name :carac_evoked %>
                <% end %>
                </td>
                <td></td>
                <td><%= t 'ninth_age.unit.rules' %></td>
              </tr>
              </thead>
            <tbody>
              <tr>
                <td></td>
                <td><%= army_list_unit.unit.carac_ground_adv %>"</td>
                <td><%= army_list_unit.unit.carac_ground_mar %>"</td>
                <td><%= army_list_unit.unit.carac_dis %></td>
                <td>
                  <% unless army_list_unit.unit.carac_evoked.nil? %>
                    <%= army_list_unit.unit.carac_evoked %>
                  <% end %>
                </td>
                <td></td>
                <td>
                  <ul class="list-inline">
                    <% army_list_unit.unit.special_rule_unit_troops
                            .joins(:special_rule)
                            .includes(special_rule: [:translations])
                            .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Global] }})
                            .each_with_index do |special_rule, index| %>
                      <li>
                          <%= link_to(ninth_age_special_rule_path(special_rule.special_rule_id), {:target => "_blank"}) do %><%= special_rule.special_rule.name %> 
                            <%if !special_rule.info.nil? || !special_rule.jet.nil? %>
                              (<%= special_rule.jet %><%= ", " if !special_rule.info.nil? && !special_rule.jet.nil? %><%= special_rule.info unless special_rule.info.nil? %>)
                            <%end%>
                          <%end%>,</li>
                    <% end %>
                    <% army_list_unit.unit.equipment_unit_troops
                            .joins(:equipment)
                            .includes(equipment: [:translations])
                            .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Global] }})
                              .each_with_index do |equipment, index| %>
                        <li>
                          <%= link_to(ninth_age_equipment_path(equipment.equipment_id), {:target => "_blank"}) do %><%= equipment.equipment.name %> 
                            <%if !equipment.info.nil? || !equipment.jet.nil? %>
                              (<%= equipment.jet %><%= ", " if !equipment.info.nil? && !equipment.jet.nil? %><%= equipment.info unless equipment.info.nil? %>)
                            <%end%>
                          <%end%>,</li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <% unless army_list_unit.unit.carac_fly_adv.nil? %>
                <tr>
                  <td></td>
                  <td><%= army_list_unit.unit.carac_fly_adv %>"</td>
                  <td><%= army_list_unit.unit.carac_fly_mar %>"</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="content-stats stats-defensive">
            <thead>
            <tr>
              <td><%= t 'ninth_age.unit.defensive' %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_hp %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_def %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_res %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_arm %></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td><%= army_list_unit.unit.carac_hp %></td>
              <td><%= army_list_unit.unit.carac_def %></td>
              <td><%= army_list_unit.unit.carac_res %></td>
              <td><%= army_list_unit.unit.carac_arm %></td>
              <td></td>
              <td>                
              <ul class="list-inline">
                <% army_list_unit.unit.special_rule_unit_troops
                        .joins(:special_rule)
                        .includes(special_rule: [:translations])
                        .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Defensive]}})
                        .each_with_index do |special_rule, index| %>
                  <li>
                    <%= link_to(ninth_age_special_rule_path(special_rule.special_rule_id), {:target => "_blank"}) do %><%= special_rule.special_rule.name %> 
                      <%if !special_rule.info.nil? || !special_rule.jet.nil? %>
                        (<%= special_rule.jet %><%= ", " if !special_rule.info.nil? && !special_rule.jet.nil? %><%= special_rule.info unless special_rule.info.nil? %>)
                      <%end%>
                    <%end%>,</li>
                <% end %>
                <% army_list_unit.unit.equipment_unit_troops
                        .joins(:equipment)
                        .includes(equipment: [:translations])
                        .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Defensive]}})
                        .each_with_index do |equipment, index| %>
                        <li>
                          <%= link_to(ninth_age_equipment_path(equipment.equipment_id), {:target => "_blank"}) do %><%= equipment.equipment.name %> 
                            <%if !equipment.info.nil? || !equipment.jet.nil? %>
                              (<%= equipment.jet %><%= ", " if !equipment.info.nil? && !equipment.jet.nil? %><%= equipment.info unless equipment.info.nil? %>)
                            <%end%>
                          <%end%>,</li>
                <% end %>
              </ul>
            </td>
            </tr>
            </tbody>
          </table>
          <table class="content-stats stats-offensive">
            <thead>
            <tr>
              <td><%= t 'ninth_age.troop.offensive' %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_att %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_of %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_str %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_ap %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_agi %></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <% army_list_unit.unit.troops.order(:position).each do |troop| %>
              <tr>
                <td><%= troop.name %></td>
                <td><%= troop.carac_att %></td>
                <td><%= troop.carac_of %></td>
                <td><%= troop.carac_str %></td>
                <td><%= troop.carac_ap %></td>
                <td><%= troop.carac_agi %></td>
                <td>                                
                  <ul class="list-inline">
                    <% army_list_unit.unit.special_rule_unit_troops
                            .joins(:special_rule)
                            .includes(special_rule: [:translations])
                            .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Offensive]}})
                            .where(:troop => nil)
                        .each_with_index do |special_rule, index| %>
                  <li>
                    <%= link_to(ninth_age_special_rule_path(special_rule.special_rule_id), {:target => "_blank"}) do %><%= special_rule.special_rule.name %> 
                      <%if !special_rule.info.nil? || !special_rule.jet.nil? %>
                        (<%= special_rule.jet %><%= ", " if !special_rule.info.nil? && !special_rule.jet.nil? %><%= special_rule.info unless special_rule.info.nil? %>)
                      <%end%>
                    <%end%>,</li>
                    <% end %>
                    <% army_list_unit.unit.special_rule_unit_troops
                            .joins(:special_rule)
                            .includes(special_rule: [:translations])
                            .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Offensive]}})
                            .where(:troop => troop.id)
                        .each_with_index do |special_rule, index| %>
                  <li>
                    <%= link_to(ninth_age_special_rule_path(special_rule.special_rule_id), {:target => "_blank"}) do %><%= special_rule.special_rule.name %> 
                      <%if !special_rule.info.nil? || !special_rule.jet.nil? %>
                        (<%= special_rule.jet %><%= ", " if !special_rule.info.nil? && !special_rule.jet.nil? %><%= special_rule.info unless special_rule.info.nil? %>)
                      <%end%>
                    <%end%>,</li>
                    <% end %>
                    <% army_list_unit.unit.equipment_unit_troops
                            .joins(:equipment)
                            .includes(equipment: [:translations])
                            .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Offensive]}})
                            .where(:troop => nil)
                              .each_with_index do |equipment, index| %>
                        <li>
                          <%= link_to(ninth_age_equipment_path(equipment.equipment_id), {:target => "_blank"}) do %><%= equipment.equipment.name %> 
                            <%if !equipment.info.nil? || !equipment.jet.nil? %>
                              (<%= equipment.jet %><%= ", " if !equipment.info.nil? && !equipment.jet.nil? %><%= equipment.info unless equipment.info.nil? %>)
                            <%end%>
                          <%end%>,</li>
                    <% end %>
                    <% army_list_unit.unit.equipment_unit_troops
                            .joins(:equipment)
                            .includes(equipment: [:translations])
                            .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Offensive]}})
                            .where(:troop => troop.id)
                              .each_with_index do |equipment, index| %>
                        <li>
                          <%= link_to(ninth_age_equipment_path(equipment.equipment_id), {:target => "_blank"}) do %><%= equipment.equipment.name %> 
                            <%if !equipment.info.nil? || !equipment.jet.nil? %>
                              (<%= equipment.jet %><%= ", " if !equipment.info.nil? && !equipment.jet.nil? %><%= equipment.info unless equipment.info.nil? %>)
                            <%end%>
                          <%end%>,</li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <% army_list_unit.unit_options.only_mounts.map { |k, v| k.mount }.each do |mount| %>
        <div class="stats-mount">
          <strong><%= t 'unit.mount' %>: <%= mount.name %></strong>
          <table class="content-stats stats-global">
            <thead>
              <tr>
                <td><%= t 'ninth_age.unit.global' %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_ground_adv %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_ground_mar %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_dis %></td>
                <td>
                <% unless mount.carac_evoked.nil? %>
                    <%= NinthAge::Unit.human_attribute_name :carac_evoked %>
                <% end %>
                </td>
                <td></td>
                <td><%= t 'ninth_age.unit.rules' %></td>
              </tr>
              </thead>
            <tbody>
              <tr>
                <td></td>
                <td><%= mount.carac_ground_adv %>"</td>
                <td><%= mount.carac_ground_mar %>"</td>
                <td><%= mount.carac_dis %></td>
                <td>
                  <% unless mount.carac_evoked.nil? %>
                    <%= mount.carac_evoked %>
                  <% end %>
                </td>
                <td></td>
                <td>
                  <ul class="list-inline">
                    <% mount.special_rule_unit_troops
                            .joins(:special_rule)
                            .includes(special_rule: [:translations])
                            .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Global] }})
                            .map(&:special_rule)
                            .each do |special_rule| %>
                      <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                    <% end %>
                    <% mount.equipment_unit_troops
                            .joins(:equipment)
                            .includes(equipment: [:translations])
                            .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Global] }})
                            .map(&:equipment)
                            .each do |equipment| %>
                      <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <% unless mount.carac_fly_adv.nil? %>
                <tr>
                  <td></td>
                  <td><%= mount.carac_fly_adv %>"</td>
                  <td><%= mount.carac_fly_mar %>"</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="content-stats stats-defensive">
            <thead>
            <tr>
              <td><%= t 'ninth_age.unit.defensive' %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_hp %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_def %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_res %></td>
                <td><%= NinthAge::Unit.human_attribute_name :carac_arm %></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td><%= mount.carac_hp %></td>
              <td><%= mount.carac_def %></td>
              <td><%= mount.carac_res %></td>
              <td><%= mount.carac_arm %></td>
              <td></td>
              <td>                
              <ul class="list-inline">
                <% mount.special_rule_unit_troops
                        .joins(:special_rule)
                        .includes(special_rule: [:translations])
                        .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Defensive]}})
                        .map(&:special_rule)
                        .each do |special_rule| %>
                  <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                <% end %>
                <% mount.equipment_unit_troops
                        .joins(:equipment)
                        .includes(equipment: [:translations])
                        .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Defensive]}})
                        .map(&:equipment)
                        .each do |equipment| %>
                  <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                <% end %>
              </ul>
            </td>
            </tr>
            </tbody>
          </table>
          <table class="content-stats stats-offensive">
            <thead>
            <tr>
              <td><%= t 'ninth_age.troop.offensive' %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_att %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_of %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_str %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_ap %></td>
                <td><%= NinthAge::Troop.human_attribute_name :carac_agi %></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <% mount.troops.order(:position).each do |troop| %>
              <tr>
                <td><%= troop.name %></td>
                <td><%= troop.carac_att %></td>
                <td><%= troop.carac_of %></td>
                <td><%= troop.carac_str %></td>
                <td><%= troop.carac_ap %></td>
                <td><%= troop.carac_agi %></td>
                <td>                                
                  <ul class="list-inline">
                    <% mount.special_rule_unit_troops
                            .joins(:special_rule)
                            .includes(special_rule: [:translations])
                            .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Offensive]}})
                            .where(:troop => nil)
                            .map(&:special_rule)
                            .each do |special_rule| %>
                      <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                    <% end %>
                    <% mount.special_rule_unit_troops
                            .joins(:special_rule)
                            .includes(special_rule: [:translations])
                            .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Offensive]}})
                            .where(:troop => troop.id)
                            .map(&:special_rule)
                            .each do |special_rule| %>
                      <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                    <% end %>
                    <% mount.equipment_unit_troops
                            .joins(:equipment)
                            .includes(equipment: [:translations])
                            .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Offensive]}})
                            .where(:troop => nil)
                            .map(&:equipment)
                            .each do |equipment| %>
                      <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                    <% end %>
                    <% mount.equipment_unit_troops
                            .joins(:equipment)
                            .includes(equipment: [:translations])
                            .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Offensive]}})
                            .where(:troop => troop.id)
                            .map(&:equipment)
                            .each do |equipment| %>
                      <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>
  <% end %>
  <table class="army_list_unit">
    <!-- OPTIONS, MAGIC ITEMS, MAGIC STANDARDS, EXTRA ITEMS -->
    <% if army_list_unit.unit_options.any? %>
        <tr class="army_list_unit_more">
          <th><%= t 'army_list_unit.show.unit_options' %></th>
          <td colspan="10">
            <% army_list_unit.unit_options.each_with_index do |option, index| %>
                <%= "• " if index > 0 %> <%= option.display_name %><%= " x#{option.quantity}" if option.is_multiple %>
            <% end %>
          </td>
        </tr>
    <% end %>
    <% if include_magics and army_list_unit.magic_items.any? %>
        <tr class="army_list_unit_more">
          <th><%= t 'army_list_unit.show.magic_items' %></th>
          <td colspan="10">
            <% army_list_unit.magic_items.each_with_index do |magic_item, index| %>
                <%= "• " if index > 0 %> <%= magic_item.name %>
                <% if magic_item.quantity > 1 %> (x<%= magic_item.quantity %>)
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    <% if include_magics and army_list_unit.extra_items.any? %>
        <tr class="army_list_unit_more">
          <th></th>
          <td colspan="10">
            <% army_list_unit.extra_items.each_with_index do |extra_item, index| %>
                <%= "• " if index > 0 %> <%= extra_item.name %>
            <% end %>
          </td>
        </tr>
    <% end %>
    <% if include_magics and army_list_unit.magic_standards.any? %>
        <tr class="army_list_unit_more">
          <th><%= t 'army_list_unit.show.magic_standards' %></th>
          <td colspan="10">
            <% army_list_unit.magic_standards.each_with_index do |magic_standard, index| %>
                <%= "• " if index > 0 %> <%= magic_standard.name %>
            <% end %>
          </td>
        </tr>
    <% end %>
    <% if army_list_unit.magic? %>
        <tr class="army_list_unit_more">
          <th><%= t 'army_list_unit.show.magic' %></th>
          <td colspan="10">
            <%= army_list_unit.magic %>
          </td>
        </tr>
    <% end %>
    <% if army_list_unit.notes? %>
        <tr class="army_list_unit_more">
          <th><%= t 'army_list_unit.show.notes' %></th>
          <td colspan="10">
            <%= simple_format army_list_unit.notes %>
          </td>
        </tr>
    <% end %>
  </table>
