<div class="popin">
	<h1>Export of the army list in TXT format</h1>
	<h2 style="color:red;">Work in progress</h2>
	<div id="export-txt-army-list">
		<p>“<%= @army_list.user.name %>” - <%= @army_list.army.name %> <%= "- #{@army_list.army_organisation.name}" if @army_list.army.army_organisations.size > 1 %></p>
		<% @army_list.army_list_units.each do |army_list_unit| %>
			<p>
				<%= value_points army_list_unit.value_points %> - <%= "#{army_list_unit.size}x" if army_list_unit.size > 1 %> <strong><%= army_list_unit.unit.name %></strong>
				<% unless army_list_unit.extra_items.empty? %>
				  , <%= army_list_unit.extra_items.map(&:name).join(', ') %>
				<% end %>
				<% unless army_list_unit.unit_options.where.not(:mount_id => nil).empty? %>
				  , <%= army_list_unit.unit_options.where.not(:mount_id => nil).map(&:mount).map(&:name).join(', ') %>
				<% end %>
				<% unless army_list_unit.magic_items.empty? %>
				  , <%= army_list_unit.magic_items.map(&:name).join(', ') %>
				<% end %>
				<% unless army_list_unit.unit_options.where(:domain_magic_id => nil).where(:mount_id => nil).empty? %>
				  , <%= army_list_unit.unit_options.where(:domain_magic_id => nil).where(:mount_id => nil).map(&:name).join(', ') %>
				<% end %>
				<% unless army_list_unit.unit_options.where.not(:domain_magic_id => nil).map(&:domain_magic).empty? %>
				  , <%= army_list_unit.unit_options.where.not(:domain_magic_id => nil).map(&:domain_magic).map(&:name).join(', ') %>
				<% end %>
				<% unless army_list_unit.magic_standards.empty? %>
				  , <%= army_list_unit.magic_standards.map(&:name).join(', ') %>
				<% end %>
			</p>
		<% end %>
		<p><%= value_points @army_list.value_points %></p>
	</div>
</div>
