<div class="tournament-organisation">
  <%= link_to('Create a tournament', new_tournament_event_path, {:class => 'btn btn-age pull-right'})%>

  <table class="events-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
  	    <th>End</th>
  	    <th>Action</th>
  	  </tr>
  	</thead>
  	<tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td class="text-center"><%= event.start_date.strftime(t('picker.datetime.rb')) %></td>
        <td class="text-center"><%= event.end_date.strftime(t('picker.datetime.rb')) %></td>
        <td class="text-center">
          <%= link_to tournament_event_path(event) do %>
            <i class="fa fa-2x fa-search"></i>
          <% end %>
          <%= link_to tournament_add_user_apply_path(event) do %>
            <i class="fa fa-2x fa-user-plus"></i>
          <% end %>
          <%= link_to edit_tournament_event_path(event) do %>
            <i class="fa fa-2x fa-edit"></i>
          <% end %>
          <%= link_to tournament_event_path(event), method: :delete, data: { confirm: 'Are you sure?'} do %>
            <i class="fa fa-2x fa-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
  	<tbody>
  </table>
</div>