<%= form_for @army_list, :validate => @army_list.persisted? do |f| %>
  <%= render "shared/form_errors", :object => @army_list %>

  <% unless @army_list.persisted? %>
    <div class="form-group">
      <%= f.label :army_id %>
      <%= f.collection_select :army_id, @armies, :id, :name_with_version, {include_blank: false}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.label :army_organisation_id %>
      <%= f.collection_select :army_organisation_id, NinthAge::ArmyOrganisation.where(:army_id => @army_list.army_id).order(:name), :id, :name, {include_blank: false}, {class: 'form-control'} %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => t('army_list.form.name'), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :max %>
    <%= f.number_field :max, :placeholder => t('army_list.form.max'), class: "form-control" %>
  </div>
    
  <div class="form-group">
    <%= f.label :notes %>
      <%= f.text_area :notes, :placeholder => t('army_list.form.notes'), :size => "", class: "form-control" %>
  </div>
    
  <%= f.submit t('army_list.form.submit'), class: 'btn btn-age' %>
<% end %>

<script>
    $(document).on('change', '#builder_army_list_army_id', function (e) {
        $.ajax({
            url: '/' + (document.documentElement.lang != "en" ? document.documentElement.lang + '/' : '' ) + 'ninth_age/army-' + $(this).val() + '/army_organisations',
            dataType: 'json',
            cache: false,
            localCache: true,
            success: function (data) {
                var element = $('#builder_army_list_army_organisation_id');
                element.empty();

                $.map(data, function (item) {
                    element.append("<option value=" + item.id + ">" + item.name + "</option>");
                })
            }.bind(this),
            error: function (xhr, status, err) {
                console.error("AJAX Error: #{status}");
            }.bind(this)
        });
    });

</script>