<% title t('army_list.index.title') %>

<div id="subheader">
  <%= search_form_for @search do |f| %>
      <p>
        <%= f.label :army_id_eq, t('army_list.index.filter') %> <%= f.select :army_id_eq, options_from_collection_for_select(current_user.armies.includes(:translations).order(:name), :id, :name, f.object.army_id_eq), {disabled: -> (army) { army.units.empty? }, include_blank: true} %>
        <%= f.label :name_or_notes_cont, t('army_list.index.and') %> <%= f.search_field :name_or_notes_cont, {placeholder: t('army_list.index.name_or_notes')} %>
        <%= f.submit t('army_list.index.search') %>
      </p>
  <% end %>
</div>

<% @army_lists.each_with_index do |army_list, i| %>

    <div class="col-md-3 <%= alternate_cell_class(i) %>">
      <div class="army_list_row">
        <p class="thumb"><a href="<%= builder_army_list_path(army_list) %>">
          <% unless army_list.army.logo.nil? %>
              <%= image_tag army_list.army.logo_large.url, alt: army_list.army.name, :size => "220x132" %>
          <% end %></a></p>
        <p class="value_points"><%= value_points army_list.value_points %><br/>
          <small style="font-size:20px">points</small>
        </p>
        <p><%= army_list.name.truncate(60) %></p>
      </div>
    </div>

<% end %>

<% if @army.nil? || !@army.obsolete? %>

    <div class="col-md-3 <%= @army_lists.any? ? alternate_cell_class(@army_lists.length) : "col-md-offset-3" %>">
      <div class="army_list_row">
        <p>
          <a href="<%= new_builder_army_list_path(:army_id => @search.army_id_eq) %>" data-popin="true"><%= image_tag "bt_new_army_list.png", :size => "220x132" %></a>
        </p>
        <p><%= t 'army_list.index.add' %></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="army_list_row">
        <p>
          <%= link_to(image_tag('bt_new_army_list.png', :size => '220x132'), ninth_age_versions_path) %>
        </p>
        <p><%= t 'version.index.show' %></p>
      </div>
    </div>

<% end %>
