<% if equipments.any? %>
  <h4><%=t 'army_list_unit.show.equipments' %> <%= "(#{troop.name})" unless troop.nil? %></h4>
  <% equipments.each do |equipment| %>
    • <%= link_to(ninth_age_equipment_path(equipment.equipment_id), {:target => "_blank"}) do %><%= equipment.equipment.name %> 
        <%if !equipment.info.nil? || !equipment.jet.nil?%>
          (<%= equipment.jet %><%= ", " unless equipment.jet.nil? %><%= equipment.info unless equipment.info.nil? %>)
        <%end%>
      <%end%><br />
  <% end %>
<% end %>
