<li>
  <%= link_to(ninth_age_equipment_path(equipment.equipment_id), {:target => "_blank"}) do %><%= equipment.equipment.name %> 
    <%if !equipment.info.nil? || !equipment.jet.nil?%>
      (<%= equipment.jet %><%= ", " if !equipment.jet.nil? && !equipment.info.nil? %><%= equipment.info%>)
    <%end%>
  <%end%>
  <% if access_admin %>
    <%= link_to(admin_ninth_age_equipment_unit_troop_path(equipment.id), {:target => "_blank"}) do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    <%= link_to(admin_ninth_age_equipment_unit_troop_path(equipment.id), {:target => "_blank", method: :delete, data: {confirm: 'Are you sure?'}}) do %>
      <i class="fa fa-trash"></i>
    <% end %>
  <% end %><%= ", " unless equipment.last? %>
</li>