<div class="popin">

  <h1><%=raw t('army_list.delete.title') %> <%= @army_list.army.name %></h1>

  <%= form_for @army_list, :method => :delete do |f| %>
    <p><%=t 'army_list.delete.information' %><br /><strong><%= @army_list.name %></strong> ?</p>

    <p class="close"><%= f.submit t('army_list.delete.submit') %></p>
  <% end %>

</div>
