<div class="popin">

  <h1><%=raw t('army_list.export.title') %> <%= @army_list.army.name %></h1>

  <p><%=t 'army_list.export.information' %><br /><strong><%= @army_list.name %></strong></p>

  <p><label><%= check_box_tag :include_magics, 1, true %> <%=t 'army_list.export.include_magics' %></label></p>

  <p>
    <button data-url="<%= export_army_list_path @army_list, :verbosity => 'full', :format => 'pdf' %>" data-target="_blank" data-params="include_magics=1"><%=t 'army_list.export.pdf_full' %></button>
    <button data-url="<%= export_army_list_path @army_list, :verbosity => 'lite', :format => 'pdf' %>" data-target="_blank" data-params="include_magics=1"><%=t 'army_list.export.pdf_lite' %></button>
    <button data-url="<%= export_army_list_path @army_list, :verbosity => 'full', :format => 'html' %>" data-target="_blank" data-params="include_magics=1"><%=t 'army_list.export.html_full' %></button>
    <button data-url="<%= export_army_list_path @army_list, :verbosity => 'lite', :format => 'html' %>" data-target="_blank" data-params="include_magics=1"><%=t 'army_list.export.html_lite' %></button>
  </p>

</div>
