<div style="position: relative; clear: both;">
  <% if user_signed_in? and (current_user.has_role? :administrator or current_user.has_role? :moderator) %>
    <div style="position: relative;">
      <%= link_to(admin_ninth_age_unit_path(unit.id), {:target => "_blank", :style => "position: absolute;top: 10px;right: 10px;z-index: 1000;"}) do %>
        <i class="fa fa-4x fa-pencil-square-o"></i>
      <% end %>
    </div>
  <% end %>

<div class="unit-<%= unit.id %> col-md-12 col-xs-12 col-sm-12">
  <article style="margin-bottom:40px;">
    <div class="col-md-12">
      <div class="text-left col-md-2">
        <% unit.organisations.each do |organisation| %>
            <% unless organisation.logo.nil? %>
                <%= image_tag organisation.medium_logo_url, size: '75x75', alt: organisation.name, border: 0 %>
            <% end %>
        <% end %>
      </div>
      <div class="<%= (unit.organisations.where(isSpecialRule: true).count > 0 ? "col-md-8" : "col-md-10") %>">
        <% if unit.V2? %>
            <div class="pull-right">
              <p>Size: <%= unit.display_size %></p>
              <%unless unit.unit_type.nil? %><p>Type: <%= unit.unit_type.name %></p><% end %>
              <p>Base: <%= unit.display_base %></p>
            </div>
        <% end %>
        <div class="pull-right">
          <% if unit.max > 0 %>
              <h4>0 - <%= unit.max %> Units per Army</h4>
          <% end %>
          <% if unit.max_model != nil %>
              <h4>0 - <%= unit.max_model %> Models per Army</h4>
          <% end %>
        </div>
        <h3 class="text-left"><strong>
          <% if unit.value_points == 0 %><%= t('ninth_age.figurine.mount') %>
          <% end %> <%= unit.name %></strong>
          <% if unit.value_points != 0 %><%= number_with_precision(unit.value_points, precision: 0) %> <%= t('ninth_age.figurine.pts') %>
          <% end %>
          <% if unit.max_size > 1 %>
              <br/><span class="small-text"><%= raw t('unit.show.size', {:min_size => unit.min_size, :max_size => unit.max_size - unit.min_size, :pts => number_with_precision(unit.troops.order(:position).first.value_points, precision: 0)}) %></span>
              <% unit.organisation_changes.each do |organisation_change| %>
                  <br/><span class="small-text text-italic"><%= raw t('unit.show.change', {:name => unit.name, :number => organisation_change.number, :new_name => organisation_change.new_organisation.name}) %></span>
              <% end %>
          <% end %>
        </h3>
      </div>
      <% if unit.organisations.where(isSpecialRule: true).count > 0 %>
        <div class="text-right col-md-2">
          <% unit.organisations.where(isSpecialRule: true).each do |organisation| %>
              <% unless organisation.logo.nil? %>
                  <%= image_tag organisation.medium_logo_url, size: '50x50', alt: organisation.name, border: 0 %>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if unit.V1? %>
          <table class="content-stats"> 
            <thead>
            <tr>
              <td><%= t('army_list_unit.show.troops.name') %></td>
              <td><%= t('army_list_unit.show.troops.M') %></td>
              <td><%= t('army_list_unit.show.troops.WS') %></td>
              <td><%= t('army_list_unit.show.troops.BS') %></td>
              <td><%= t('army_list_unit.show.troops.S') %></td>
              <td><%= t('army_list_unit.show.troops.T') %></td>
              <td><%= t('army_list_unit.show.troops.W') %></td>
              <td><%= t('army_list_unit.show.troops.I') %></td>
              <td><%= t('army_list_unit.show.troops.A') %></td>
              <td><%= t('army_list_unit.show.troops.LD') %></td>
              <% if unit.troops.where.not(:E => nil).count > 0 %>
                  <td><%= t('army_list_unit.show.troops.E') %></td>
              <% end %>
              <td><%= t('army_list_unit.show.troops.type') %></td>
            </tr>
            </thead>
            <tbody>
            <% unit.troops.order(:position).each do |troop| %>
                <tr>
                  <td><%= characteristic troop.name %></td>
                  <td><%= characteristic troop.M %></td>
                  <td><%= characteristic troop.WS %></td>
                  <td><%= characteristic troop.BS %></td>
                  <td><%= characteristic troop.S %></td>
                  <td><%= characteristic troop.T %></td>
                  <td><%= characteristic troop.W %></td>
                  <td><%= characteristic troop.I %></td>
                  <td><%= characteristic troop.A %></td>
                  <td><%= characteristic troop.LD %></td>
                  <% unless troop.E.nil? %>
                      <td><%= characteristic troop.E %></td>
                  <% end %>
                  <td><%= troop.troop_type.try(:name) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% elsif unit.V2? %>
          <table class="content-stats stats-global">
            <thead>
            <tr>
              <td><%= t 'ninth_age.unit.global' %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_ground_adv %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_ground_mar %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_dis %></td>
              <td>
              <% unless unit.carac_evoked.nil? %>
                  <%= NinthAge::Unit.human_attribute_name :carac_evoked %>
              <% end %>
              </td>
              <td></td>
              <td><%= t 'ninth_age.unit.rules' %></td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td><%= unit.carac_ground_adv %>"</td>
              <td><%= unit.carac_ground_mar %>"</td>
              <td><%= unit.carac_dis %></td>
              <td>
                <% unless unit.carac_evoked.nil? %>
                    <%= unit.carac_evoked %>
                <% end %>
              </td>
              <td></td>
              <td>
                <ul class="list-inline">
                  <% unit.special_rule_unit_troops
                          .joins(:special_rule)
                          .includes(special_rule: [:translations])
                          .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Global] }})
                          .map(&:special_rule)
                          .each do |special_rule| %>
                    <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                  <% end %>
                  <% unit.equipment_unit_troops
                          .joins(:equipment)
                          .includes(equipment: [:translations])
                          .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Global] }})
                          .map(&:equipment)
                          .each do |equipment| %>
                    <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <% unless unit.carac_fly_adv.nil? %>
                <tr>
                  <td></td>
                  <td><%= unit.carac_fly_adv %>"</td>
                  <td><%= unit.carac_fly_mar %>"</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <table class="content-stats stats-defensive">
            <thead>
            <tr>
              <td><%= t 'ninth_age.unit.defensive' %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_hp %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_def %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_res %></td>
              <td><%= NinthAge::Unit.human_attribute_name :carac_arm %></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td><%= unit.carac_hp %></td>
              <td><%= unit.carac_def %></td>
              <td><%= unit.carac_res %></td>
              <td><%= unit.carac_arm %></td>
              <td></td>
              <td>                
                <ul class="list-inline">
                  <% unit.special_rule_unit_troops
                          .joins(:special_rule)
                          .includes(special_rule: [:translations])
                          .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Defensive]}})
                          .map(&:special_rule)
                          .each do |special_rule| %>
                    <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                  <% end %>
                  <% unit.equipment_unit_troops
                          .joins(:equipment)
                          .includes(equipment: [:translations])
                          .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Defensive]}})
                          .map(&:equipment)
                          .each do |equipment| %>
                    <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                  <% end %>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="content-stats stats-offensive">
            <thead>
            <tr>
              <td><%= t 'ninth_age.troop.offensive' %></td>
              <td><%= NinthAge::Troop.human_attribute_name :carac_att %></td>
              <td><%= NinthAge::Troop.human_attribute_name :carac_of %></td>
              <td><%= NinthAge::Troop.human_attribute_name :carac_str %></td>
              <td><%= NinthAge::Troop.human_attribute_name :carac_ap %></td>
              <td><%= NinthAge::Troop.human_attribute_name :carac_agi %></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <% unit.troops.order(:position).each do |troop| %>
                <tr>
                  <td><%= troop.name %></td>
                  <td><%= troop.carac_att %></td>
                  <td><%= troop.carac_of %></td>
                  <td><%= troop.carac_str %></td>
                  <td><%= troop.carac_ap %></td>
                  <td><%= troop.carac_agi %></td>
                  <td>                                
                    <ul class="list-inline">
                      <% unit.special_rule_unit_troops
                              .joins(:special_rule)
                              .includes(special_rule: [:translations])
                              .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Offensive]}})
                              .where(:troop => nil)
                              .map(&:special_rule)
                              .each do |special_rule| %>
                        <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                      <% end %>
                      <% unit.special_rule_unit_troops
                              .joins(:special_rule)
                              .includes(special_rule: [:translations])
                              .where({ninth_age_special_rules: {type_lvl: NinthAge::SpecialRule.type_lvls[:Offensive]}})
                              .where(:troop => troop.id)
                              .map(&:special_rule)
                              .each do |special_rule| %>
                        <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %>,</li>
                      <% end %>
                      <% unit.equipment_unit_troops
                              .joins(:equipment)
                              .includes(equipment: [:translations])
                              .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Offensive]}})
                              .where(:troop => nil)
                              .map(&:equipment)
                              .each do |equipment| %>
                        <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                      <% end %>
                      <% unit.equipment_unit_troops
                              .joins(:equipment)
                              .includes(equipment: [:translations])
                              .where({ninth_age_equipments: {type_lvl: NinthAge::Equipment.type_lvls[:Offensive]}})
                              .where(:troop => troop.id)
                              .map(&:equipment)
                              .each do |equipment| %>
                        <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %>,</li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
    <% if unit.V1? %>
      <div class="col-md-3 unit-rules">
        <% if unit.special_rule_unit_troops.count > 0 %>
            <% if unit.special_rule_unit_troops.joins(:special_rule).where({ninth_age_special_rules: {army_id: unit.army_id}}).count > 0 %>
                <div>
                  <h4><%= unit.army.name %> <%= t('army_list_unit.show.special_rules') %></h4>
                  <ul>
                    <% unit.special_rule_unit_troops.joins(:special_rule).where({:troop => nil, ninth_age_special_rules: {army_id: unit.army_id}}).map(&:special_rule).each do |special_rule| %>
                        <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                    <% end %>
                  </ul>
                  <div class="troop-rules">
                    <% unit.troops.each do |troop| %>
                        <% if troop.special_rule_unit_troops.joins(:special_rule).where({ninth_age_special_rules: {army_id: unit.army_id}}).count > 0 %>
                            <h5><%= troop.name %></h5>
                            <ul>
                              <% troop.special_rule_unit_troops.joins(:special_rule).where({ninth_age_special_rules: {army_id: unit.army_id}}).map(&:special_rule).each do |special_rule| %>
                                  <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                              <% end %>
                            </ul>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <% end %>
            <% if unit.special_rule_unit_troops.joins(:special_rule).where('army_id IS NULL OR army_id != ?', unit.army_id).count > 0 %>
                <div>
                  <h4><%= t('army_list_unit.show.special_rules') %></h4>
                  <ul>
                    <% unit.special_rule_unit_troops.joins(:special_rule).where({:troop => nil}).where('army_id IS NULL OR army_id != ?', unit.army_id).map(&:special_rule).each do |special_rule| %>
                        <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                    <% end %>
                  </ul>
                  <div class="troop-rules">
                    <% unit.troops.each do |troop| %>
                        <% if troop.special_rule_unit_troops.joins(:special_rule).where('army_id IS NULL OR army_id != ?', unit.army_id).map(&:special_rule).count > 0 %>
                            <h5><%= troop.name %></h5>
                            <ul>
                              <% troop.special_rule_unit_troops.joins(:special_rule).where('army_id IS NULL OR army_id != ?', unit.army_id).map(&:special_rule).each do |special_rule| %>
                                  <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                              <% end %>
                            </ul>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-3 unit-equipments">
        <% if unit.equipment_unit_troops.count > 0 %>
            <h4><%= t('army_list_unit.show.equipments') %></h4>
            <ul>
              <% unit.equipment_unit_troops.where(:troop => nil).map(&:equipment).each do |equipment| %>
                  <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %></li>
              <% end %>
            </ul>
            <div class="troop-equipments">
              <% unit.troops.each do |troop| %>
                  <% if troop.equipment_unit_troops.map(&:equipment).count > 0 %>
                      <h5><%= troop.name %></h5>
                      <ul>
                        <% troop.equipment_unit_troops.map(&:equipment).each do |equipment| %>
                            <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %></li>
                        <% end %>
                      </ul>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-md-6">
      <% if unit.unit_options.count > 0 %>
          <h4><%= t('army_list_unit.show.unit_options') %></h4>
          <%= render :partial => 'ninth_age/unit_options/show', :locals => {:unit_options => unit.unit_options.where(:parent => nil)} %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </article>
</div>
</div>