<div class="col-md-12 col-xs-12 col-sm-12 unit-<%= @unit.id %>">
  <article style="margin-bottom:40px;">
    <div class="col-md-12">
      <div class="text-left col-md-2">
        <% @unit.organisations.where(isSpecialRule: false).each do |organisation| %>
            <% unless organisation.logo.nil? %>
                <%= image_tag organisation.medium_logo_url, size: '75x75', alt: organisation.name, border: 0 %>
            <% end %>
        <% end %>
      </div>
      <div class=" col-md-8">
        <div class="pull-right">
          <% if @unit.max > 0 %>
              <h4>0 - <%= @unit.max %> Units per Army</h4>
          <% end %>
          <% if @unit.max_model != nil %>
              <h4>0 - <%= @unit.max_model %> Models per Army</h4>
          <% end %>
        </div>
        <h3 class="text-left"><strong>
          <% if @unit.value_points == 0 %><%= t('ninth_age.figurine.mount') %>
          <% end %> <%= @unit.name %></strong>
          <% if @unit.value_points != 0 %><%= number_with_precision(@unit.value_points, precision: 0) %> <%= t('ninth_age.figurine.pts') %>
          <% end %>
          <% if @unit.max_size > 1 %>
            <br/><span class="small-text"><%= raw t('unit.show.size', {:min_size => @unit.min_size, :max_size => @unit.max_size - @unit.min_size, :pts => number_with_precision(@unit.troops.order(:position).first.value_points, precision: 0)}) %></span>
            <% @unit.organisation_changes.each do |organisation_change| %>
              <br/><span class="small-text text-italic"><%= raw t('unit.show.change', {:name => @unit.name, :number => organisation_change.number, :new_name => organisation_change.new_organisation.name}) %></span>
            <% end %>
          <% end %>
        </h3>
      </div>
      <div class="text-right col-md-2">
        <% @unit.organisations.where(isSpecialRule: true).each do |organisation| %>
            <% unless organisation.logo.nil? %>
                <%= image_tag organisation.medium_logo_url, size: '50x50', alt: organisation.name, border: 0 %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <table class="content-stats">
        <thead>
        <tr>
          <td><%= t('army_list_unit.show.troops.name') %></td>
          <td><%= t('army_list_unit.show.troops.M') %></td>
          <td><%= t('army_list_unit.show.troops.WS') %></td>
          <td><%= t('army_list_unit.show.troops.BS') %></td>
          <td><%= t('army_list_unit.show.troops.S') %></td>
          <td><%= t('army_list_unit.show.troops.T') %></td>
          <td><%= t('army_list_unit.show.troops.W') %></td>
          <td><%= t('army_list_unit.show.troops.I') %></td>
          <td><%= t('army_list_unit.show.troops.A') %></td>
          <td><%= t('army_list_unit.show.troops.LD') %></td>
          <% if @unit.troops.where.not(:E => nil).count > 0 %>
            <td><%= t('army_list_unit.show.troops.E') %></td>
          <%end%>
          <td><%= t('army_list_unit.show.troops.type') %></td>
        </tr>
        </thead>
        <tbody>
        <% @unit.troops.order(:position).each do |troop| %>
            <tr>
              <td><%= characteristic troop.name %></td>
              <td><%= characteristic troop.M %></td>
              <td><%= characteristic troop.WS %></td>
              <td><%= characteristic troop.BS %></td>
              <td><%= characteristic troop.S %></td>
              <td><%= characteristic troop.T %></td>
              <td><%= characteristic troop.W %></td>
              <td><%= characteristic troop.I %></td>
              <td><%= characteristic troop.A %></td>
              <td><%= characteristic troop.LD %></td>
              <% if troop.E != nil %>
                <td><%= characteristic troop.E %></td>
              <%end%>
              <td><%= troop.troop_type.try(:name) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 unit-rules">
      <% if @unit.special_rule_unit_troops.count > 0 %>
          <% if @unit.special_rule_unit_troops.joins(:special_rule).where({ninth_age_special_rules: {army_id: @unit.army_id}}).count > 0 %>
              <div>
                <h4><%= @unit.army.name %> <%= t('army_list_unit.show.special_rules') %></h4>
                <ul>
                  <% @unit.special_rule_unit_troops.joins(:special_rule).where({:troop => nil, ninth_age_special_rules: {army_id: @unit.army_id}}).map(&:special_rule).each do |special_rule| %>
                      <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                  <% end %>
                </ul>
                <div class="troop-rules">
                  <% @unit.troops.each do |troop| %>
                      <% if troop.special_rule_unit_troops.joins(:special_rule).where({ninth_age_special_rules: {army_id: @unit.army_id}}).count > 0 %>
                          <h5><%= troop.name %></h5>
                          <ul>
                            <% troop.special_rule_unit_troops.joins(:special_rule).where({ninth_age_special_rules: {army_id: @unit.army_id}}).map(&:special_rule).each do |special_rule| %>
                                <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                            <% end %>
                          </ul>
                      <% end %>
                  <% end %>
                </div>
              </div>
          <% end %>
          <% if @unit.special_rule_unit_troops.joins(:special_rule).where.not({ninth_age_special_rules: {army_id: @unit.army_id}}).count > 0 %>
              <div>
                <h4><%= t('army_list_unit.show.special_rules') %></h4>
                <ul>
                  <% @unit.special_rule_unit_troops.joins(:special_rule).where({:troop => nil}).where.not({ninth_age_special_rules: {army_id: @unit.army_id}}).map(&:special_rule).each do |special_rule| %>
                      <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                  <% end %>
                </ul>
                <div class="troop-rules">
                  <% @unit.troops.each do |troop| %>
                      <% if troop.special_rule_unit_troops.joins(:special_rule).where.not({ninth_age_special_rules: {army_id: @unit.army_id}}).map(&:special_rule).count > 0 %>
                          <h5><%= troop.name %></h5>
                          <ul>
                            <% troop.special_rule_unit_troops.joins(:special_rule).where.not({ninth_age_special_rules: {army_id: @unit.army_id}}).map(&:special_rule).each do |special_rule| %>
                                <li><%= link_to(special_rule.name, ninth_age_special_rule_path(special_rule.id)) %></li>
                            <% end %>
                          </ul>
                      <% end %>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-3 unit-equipments">
      <% if @unit.equipment_unit_troops.count > 0 %>
          <h4><%= t('army_list_unit.show.equipments') %></h4>
          <ul>
            <% @unit.equipment_unit_troops.where(:troop => nil).map(&:equipment).each do |equipment| %>
                <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %></li>
            <% end %>
          </ul>
          <div class="troop-equipments">
            <% @unit.troops.each do |troop| %>
                <% if troop.equipment_unit_troops.map(&:equipment).count > 0 %>
                    <h5><%= troop.name %></h5>
                    <ul>
                      <% troop.equipment_unit_troops.map(&:equipment).each do |equipment| %>
                          <li><%= link_to(equipment.name, ninth_age_equipment_path(equipment.id)) %></li>
                      <% end %>
                    </ul>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if @unit.unit_options.count > 0 %>
        <h4><%= t('army_list_unit.show.unit_options') %></h4>          
        <%= render :partial => 'ninth_age/unit_options/show', :locals => { :unit_options => @unit.unit_options.where(:parent => nil)} %>          
      <% end %>
    </div>
    <div class="clearfix"></div>
  </article>
</div>