<% content_for :title do %><%= @unit.name %> - <%= @unit.army.name %> Army (<%= @unit.army.version.name %>)<% end %>
<% content_for :head do %>
    <meta property="og:site_name" content="9th Age Builder"/>
    <meta property="og:title" content="<%= @unit.name %> - <%= @unit.army.name %> Army (<%= @unit.army.version.name %>)" />
    <meta property="og:url" content="<%= url_for(:only_path => false) %>"/>
    <meta property="og:image" content="<%= request.scheme + '://' + request.host_with_port + @unit.army.logo_large.url(:facebook) %>"/>
    <meta property="og:description" content="<%= @unit.name %> unit of <%= @unit.army.name %> Army">
<% end %>

<%= render :partial => 'ninth_age/units/show', :locals => { :unit => @unit } %>

<div class="footer-back">
  <%= link_to t('army.show.back'), ninth_age_army_path(@unit.army_id), class: 'link-back' %>
</div>