<% content_for :title do %>Army <%= @army.name %> (<%= @army.version.name %>)<% end %>
<% content_for :head do %>
    <meta property="og:site_name" content="9th Age Builder"/>
    <meta property="og:title" content="Army <%= @army.name %> (<%= @army.version.name %>)" />
    <meta property="og:url" content="<%= url_for(:only_path => false) %>"/>
    <meta property="og:image" content="<%= request.scheme + '://' + request.host_with_port + @army.logo_large.url(:big) %>"/>
    <meta property="og:description" content="All units of <%= @army.name %> Army">
<% end %>

<div class="col-md-12 col-xs-12 col-sm-12 army-<%= @army.id %>">
  <%= image_tag @army.logo_large.url(:large), alt: @army.name, class: 'block-center' %>
  <h1 class="text-center"><%= @army.name %></h1>

  <% if @page == 1 %>

      <% @army.army_magic_spells.each do |army_magic_spell| %>
        <div class="army_magic_spell">
          <h2 class="text-center">Racial Trait Spell</h2>
          <% if army_magic_spell.effect.nil? %>
            <h3><%= army_magic_spell.name %></h3>
          <% end %>
          <%= army_magic_spell.display_description %>
          <% unless army_magic_spell.effect.nil? %>
            <table>
              <thead>
                <th></th>
                <th class="text-center"><%= t('magic.casting') %></th>
                <th class="text-center"><%= t('magic.range') %></th>
                <th class="text-center"><%= t('magic.type') %></th>
                <th class="text-center"><%= t('magic.duration') %></th>
                <th><%= t('magic.effect') %></th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="5" class="name"><%= army_magic_spell.name %></td>
                  <td rowspan="2" class="effect"><%= army_magic_spell.display_effect %></tr>
                <tr>
                  <td>Mf</td>
                  <td class="casting_value text-center"><%= army_magic_spell.display_casting_value %></td>
                  <td class="range text-center"><%= army_magic_spell.display_range %></td>
                  <td class="type_target text-center"><%= army_magic_spell.display_type_target %></td>
                  <td class="duration text-center"><%= army_magic_spell.display_duration %></td>
                </tr>
              </tbody>
            </table>
          <% end %>  
        </div>
      <% end %>      

      <% @army.army_organisations.each do |army_organisation| %>
        <div>
          <h2 class="text-center"><%= army_organisation.name %></h2>
          <p><%= army_organisation.description %></p>
          <ul class="list-flex">
            <% army_organisation.organisation_groups.each do |organisation_group| %>
                <li>
                  <%= image_tag(organisation_group.organisation.medium_logo_url, alt: organisation_group.organisation.name, size: "75x75") %>
                  <p><%= organisation_group.organisation.name.gsub(/\(([\w,\ \+\.\(\)\-]*)\)/, '<span class="text-small">(\1)</span>').html_safe %></p>
                  <% if organisation_group.NoLimit? || organisation_group.NotAllowed? %>
                      <p><span class="text-small">(<%= organisation_group.display_type_target %>)</span></p>
                  <% else %>
                      <p>
                      <span class="text-small">(<%= organisation_group.target %>% <%= organisation_group.display_type_target %>
                        )</span></p>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      <% end %>
  <% end %>

  <div>
    <% @units.each do |unit| %>
        <article style="margin-bottom:40px;" class="unit-<%= unit.id %> text-center col-md-2 col-sm-4">
          <%= link_to (ninth_age_unit_path(unit)) do %>
              <% unit.organisations.where(isSpecialRule: false).each do |organisation| %>
                  <% unless organisation.logo.nil? %>
                      <%= image_tag organisation.medium_logo_url, size: '75x75', alt: organisation.name, border: 0 %>
                  <% end %>
              <% end %>
              <h4><%= unit.name %></h4>
          <% end %>
        </article>
    <% end %>
  </div>
  <div aria-label="Page navigation" class="apple_pagination">
    <%= will_paginate @units, :container => false %>
  </div>

  <div class="footer-back">
    <%= link_to t('army.show.back'), ninth_age_armies_path(@army.version_id), class: 'link-back' %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("article[class*=unit-]").click(function () {
      window.location = $(this).find("a").attr("href");
      return false;
    });

    var highestBox = 0;

    $("article[class*=unit-]").each(function () {
      if ($(this).height() > highestBox) {
        highestBox = $(this).height();
      }
    })

    $("article[class*=unit-]").height(highestBox);
  });
</script>