<h1 class="grid_4 suffix_6">
  The 9th Age<br />
  <em>Army Builder</em>
</h1>
<div class="grid_6 signin">
  <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
    <p><%= f.email_field :email, :placeholder => "Email" %>
    <%= f.password_field :password, :placeholder => "Password" %>
    <%= f.submit "sign in" %></p>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Remember me" %> <%= link_to "Forgot ?", new_password_path(resource_name) %></p>
  <% end %>
</div>

<h2 class="grid_10 catcher">
  Compose<span> and </span>store<br />
  <em>your favorites armies!</em>
</h2>
<div class="grid_6 signup">
  <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
    <strong>Join us</strong>
    <p><%= f.text_field :name, :placeholder => "Name" %></p>
    <p><%= f.email_field :email, :placeholder => "Email" %></p>
    <p><%= f.submit "next" %></p>
  <% end %>
</div>

<div class="grid_16 disclaimer">
  <a class="twitter-timeline" href="https://twitter.com/9thbuilder" data-widget-id="683965147501727745" width="300" height="300" lang="en">Tweets de @9thbuilder</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <p><strong>Who are we?</strong> Inspired other similar sites, Army Builder was born from the initiative of a fan of Warhammer and Games Workshop's universe. Bringing together a team of enthusiasts playing for over 15 years in Battle, Army Builder wants to be an effective and user-friendly tool to create your army lists. Supported by generous patrons, Army Builder generates no income and will never ask for money! In addition, Army Builder is an open source project.</p>

  <p><strong>Warning!</strong> This web site is completely unofficial and in no way endorsed by Games Workshop Limited.<br />
  Chaos, the Chaos device, the Chaos logo, Citadel, Citadel Device, Darkblade, the Double-Headed/Imperial Eagle device, 'Eavy Metal, Forge World, Games Workshop, Games Workshop logo, Golden Demon, Great Unclean One, GW, the Hammer of Sigmar logo, Horned Rat logo, Keeper of Secrets, Khemri, Khorne, the Khorne logo, Lord of Change, Nurgle, the Nurgle logo, Skaven, the Skaven symbol devices, Slaanesh, the Slaanesh logo, Tomb Kings, Trio of Warriors, Twin Tailed Comet Logo, Tzeentch, the Tzeentch logo, Warhammer, Warhammer Online, Warhammer World logo, White Dwarf, the White Dwarf logo, and all associated marks, names, races, race insignia, characters, vehicles, locations, units, illustrations and images from the Warhammer world are either ®, TM and/or © Copyright Games Workshop Ltd 2000-2007, variably registered in the UK and other countries around the world. Used without permission. No challenge to their status intended.<br />
  All Rights Reserved to their respective owners.</p>
</div>
