<div class="show-team">
  <% unless @team.user_applies.where({:team_leader => true, :user_id => current_user.id}).empty? %>
  	<%= link_to(tournament_myteams_path, {:class => 'btn btn-age pull-right'}) do %><%= t('tournament.team.back') %><% end %>
  	<%= link_to(edit_tournament_myteam_path(@team), {:class => 'btn btn-age pull-right'}) do %><%= t('tournament.user_apply.manage') %><% end %>
  <% end %>
  <%= link_to("#", {:class => 'btn btn-age pull-right'}) do %><%= t('tournament.user_apply.share_link') %><% end %>
  
  <h1 class="team-name"><strong><%= @team.event.name %>:</strong><%= @team.name %></h1>
  
	<div class="rows">
		<% @team.user_applies.each do |user_apply| %>
			<div class="user_apply cursor-pointer col-md-2 col-12 col-sm-3">
					<p><span class="user-name"><%= user_apply.name %></span>
					<% if user_apply.team_leader? %>
						<%= icon('fas', 'user-shield', class: 'fa-2x') %>
					<%end%>
					</p>
			</div>
		<%end%>
	</div>
</div>