<div id="search-army-lists">
  <h1 class="text-center"><%= t('.title') %></h1>
  <%= form_tag(builder_searchs_path, method: "post") do %>
        <h3><%= t '.select_version' %></h3>
    <ul class="nav nav-tabs" id="tab-versions" role="tablist">
    <% @versions.each_with_index do |version,index| %>
  	<%= content_tag(:li, :class => ['nav-item', ("active" if version.id == NinthAge::Version.last.id )]) do %>
      <%= link_to(version.name, '#', { :class => 'nav-link', :id => "tab-version-#{version.id}", 'data-toggle' => 'tab', :href => "#tab-#{version.id}", :role => 'tab', 'aria-controls' => "Version #{version.name}", 'aria-selected' => (index == 0) }) %>
    <% end %>
    <% end %>
    </ul>
    <div class="tab-content" id="tab-versions-content">
  	<% @versions.each_with_index do |version,index| %>
  	  <%= content_tag(:div, {:class => ["tab-pane fade ", ("active in" if version.id == NinthAge::Version.last.id )], :id => "tab-#{version.id}", :role => "tabpanel", 'aria-labelledby' => "tab-version-#{version.id}"}) do %>
        <h3><%= t '.select_army' %></h3>
        <ul class="list-inline army-list">
    	    <% NinthAge::Army.includes(:translations).ordered.where(:version_id => version.id).each do |army| %>
            <li class="list-inline-item">
              <%= radio_button_tag(:army, army.id) %>
              <%= label_tag("army_#{army.id}") do %>
                <%= image_tag army.medium_logo_url, :class => 'img-responsive', alt: army.name, height: 150 %>
                <%= army.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <p class="army-select-errror alert alert-danger" style="display: none;"><%= t '.search_army_select_error' %></p>
  	  <% end %>
  	<% end %>
    </div>
    <div class="points">
      <%
        query = Builder::ArmyList.joins(:army)
                                  .where(:ninth_age_armies => { :version_id => NinthAge::Version.last.id })
                                  .map(&:value_points)
        min = query.min
        max = query.max
      %>
      <h3><%= t '.select_points_range' %></h3>
      <%= t '.between' %> <%= number_field_tag('min', min, {:min => min, :max => max - 1}) %> <%= t '.and' %> <%= number_field_tag('max', max, {:min => min + 1, :max => max}) %><%= t '.points' %>
    </div>

    <%= submit_tag(t('.search'), :class => 'btn btn-lg btn-age') %>

  <% end %>
</div>