<% mounts_option = army_list_unit.unit_options.only_mounts.first %>
<li id="army_list_units_<%= army_list_unit.id %>">
  <div class="army_list_unit_overview">
    <div class="position">
      <%= "%02d" % army_list_unit.position %>
    </div>
    <div class="name">
      <strong><%=transliterate army_list_unit.name.truncate(32) %></strong>
        <% if army_list_unit.unit.is_unique? %>
        <i>Unique</i>
        <% else %>
        <%= army_list_unit.unit.name %>
        <% end %>
        <%= "<em>x#{army_list_unit.size}</em>".html_safe if army_list_unit.size > 1 %>
    </div>
    <div class="value_points">
      <strong><%= value_points army_list_unit.value_points %></strong> points
    </div>
    <div class="actions pull-right">
      <%= link_to '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>'.html_safe, edit_army_list_army_list_unit_path(@army_list, army_list_unit), { 'data-popin' => true } %>
      <%= link_to '<i class="fa fa-clone fa-2x" aria-hidden="true"></i>'.html_safe, new_from_army_list_army_list_unit_path(@army_list, army_list_unit), { 'data-popin' => true } %>
      <%= link_to '<i class="fa fa-trash fa-2x" aria-hidden="true"></i>'.html_safe, delete_army_list_army_list_unit_path(@army_list, army_list_unit), { 'data-popin' => true } %>
    </div>
    <div class="clearboth"></div>
  </div>

  <div class="army_list_unit_details" style="display:none">

    <!-- TROOPS -->
    <table>
      <thead>
        <tr>
          <th><%= t('army_list_unit.show.troops.profile') %></th>
          <th><%= t('army_list_unit.show.troops.M') %></th>
          <th><%= t('army_list_unit.show.troops.WS') %></th>
          <th><%= t('army_list_unit.show.troops.BS') %></th>
          <th><%= t('army_list_unit.show.troops.S') %></th>
          <th><%= t('army_list_unit.show.troops.T') %></th>
          <th><%= t('army_list_unit.show.troops.W') %></th>
          <th><%= t('army_list_unit.show.troops.I') %></th>
          <th><%= t('army_list_unit.show.troops.A') %></th>
          <th><%= t('army_list_unit.show.troops.LD') %></th>
          <th><%= t('army_list_unit.show.troops.type') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "troops/show", :collection => army_list_unit.unit.troops.select{ |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }, :as => :troop, :locals => { :army_list_unit => army_list_unit } %>
        <% if army_list_unit.unit_options.include?(mounts_option) %>
          <%= render :partial => "troops/show", :collection => mounts_option.mount.troops.all, :as => :troop, :locals => { :army_list_unit => army_list_unit } %>
        <% end %>
      </tbody>
    </table>

    <!-- OPTIONS, MAGIC ITEMS, MAGIC STANDARDS, EXTRA ITEMS -->
    <% if army_list_unit.unit_options.any? or army_list_unit.magic_items.any? or army_list_unit.extra_items.any? or army_list_unit.magic_standards.any? %>
      <div class="options">
        <!-- OPTIONS -->
        <%= render :partial => "army_list_units_unit_options/show", :locals => { :unit_options => army_list_unit.unit_options } %>

        <!-- MAGIC ITEMS -->
        <%= render :partial => "army_list_units_magic_items/show", :locals => { :magic_items => army_list_unit.magic_items } %>

        <!-- EXTRA ITEMS -->
        <%= render :partial => "army_list_units_extra_items/show", :locals => { :extra_item_category => @army_list.army.extra_item_categories.first, :extra_items => army_list_unit.extra_items } %>

        <!-- MAGIC STANDARDS -->
        <%= render :partial => "army_list_units_magic_standards/show", :locals => { :magic_standards => army_list_unit.magic_standards } %>
      </div>
    <% end %>

    <!-- EQUIPMENTS -->
    <%= render :partial => "equipments/show", :locals => { :equipments => army_list_unit.unit.equipments.where(:troop_id => nil), :troop => nil } %>

    <% army_list_unit.unit.troops.select{ |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }.each do |troop| %>
      <%= render :partial => "equipments/show", :locals => { :equipments => troop.equipments, :troop => troop } %>
    <% end %>

    <% if army_list_unit.unit_options.include?(mounts_option) %>
      <%= render :partial => "equipments/show", :locals => { :equipments => mounts_option.mount.equipments, :troop => mounts_option.mount.troops.first } %>
    <% end %>

    <!-- SPECIAL RULES -->
    <%= render :partial => 'ninth_age/special_rules/show', :locals => { :special_rules => NinthAge::SpecialRule.joins(:units).where(units: { id: army_list_unit.unit_id }).left_outer_joins(:troops).where( troops: { :id => nil }), :troop => nil } %>

    <% army_list_unit.unit.troops.select{ |t| t.unit_option.nil? or army_list_unit.unit_options.include?(t.unit_option) }.each do |troop| %>
      <%= render :partial => 'ninth_age/special_rules/show', :locals => { :special_rules => troop.special_rules, :troop => troop } %>
    <% end %>

    <% if army_list_unit.unit_options.include?(mounts_option) %>
      <%= render :partial => 'ninth_age/special_rules/show', :locals => { :special_rules => mounts_option.mount.special_rules, :troop => mounts_option.mount.troops.first } %>
    <% end %>

    <!-- MAGIC -->
    <% if army_list_unit.magic? %>
      <h4><%=t 'army_list_unit.show.magic' %></h4>
      <%= army_list_unit.magic %><br />
    <% end %>

    <!-- NOTES -->
    <% if army_list_unit.notes? %>
      <h4><%=t 'army_list_unit.show.notes' %></h4>
      <%= simple_format army_list_unit.notes %>
    <% end %>

    <div class="clear"></div>
  </div>
</li>
