<h1><%= t('magic_items.index.title') %></h1>

<div>
  <% @ninth_age_magic_items.each do |ninth_age_magic_item| %>
      <article class="magic-items-<%= ninth_age_magic_item.id %> col-md-3 col-sm-4 text-center">
        <h4><%= ninth_age_magic_item.name %></h4>
        <p><%=  ninth_age_magic_item.army.name %></p>
        <%= link_to(t('magic_items.index.show'), ninth_age_magic_item_path(ninth_age_magic_item)) %>
      </article>
  <% end %>
</div>
<div aria-label="Page navigation" class="apple_pagination">
  <%= will_paginate @ninth_age_magic_items, :container => false %>
</div>

<script>
    $(document).ready(function () {
        $("div[class*=magic-items-]").click(function () {
            window.location = $(this).find("a").attr("href");
            return false;
        });

        var highestBox = 0;

        $("div[class*=magic-items-]").each(function () {
            if ($(this).height() > highestBox) {
                highestBox = $(this).height();
            }
        })

        $("div[class*=magic-items-]").height(highestBox);
    });
</script>