<%

  depend = option.parent

  while !depend.nil? and depend.value_points.nil? do
    depend = depend.parent
  end

  army_list_unit_unit_option = army_list_unit.army_list_unit_unit_options.detect { |aluuo| aluuo.unit_option == option }

  unless army_list_unit_unit_option.nil?
    value_points = army_list_unit_unit_option.quantity * option.value_points
  else
    value_points = option.is_per_model ? option.value_points * army_list_unit.size : option.value_points
  end

  #Disable option if extra item is not selected
  disable = !option.extra_item_id.nil? && !option.extra_item.in?(army_list_unit.extra_items)
  disable ||= !option.unit_option_activator_id.nil? && !option.unit_option_activator.in?(army_list_unit.army_list_unit_unit_options.map(&:unit_option))
  all_magics = option.children.all? {|option| !option.domain_magic_id.nil?}
%>
<li>
  <% if option.value_points.nil? || option.MagicEquipment? || option.MagicBanner? %>    
    
    <%= content_tag(:strong, {:class => ("disable" if disable), 'data-extra-item': option.extra_item_id, "data-unit-option-activator" => option.unit_option_activator_id, 'data-is-magic-item' => option.MagicEquipment?, 'data-is-extra-item' => option.ArmyAttribut?, 'data-value-points' => option.value_points }) do %>
      <%= option.display_name %>
      <% unless option.value_points.nil? %>(<em><span><%= value_points(value_points) %></span> pts</em>)<% end %>
      <% unless option.infos.nil? %>
        <small><%= content_tag(:span, option.infos, {:class => 'tooltiptext'}) %></small>
      <% end %>
    <% end %>

  <% else %>
    
    <%= hidden_field_tag "builder_army_list_unit[army_list_unit_unit_options_attributes][#{option.id}][_destroy]", 1 %>
    <em><%= content_tag(:span, value_points(value_points), { 'data-value-points' => value_points(value_points)}) %> pts</em>
    <%= content_tag(:label, {:class => ("disable" if disable), 'data-extra-item': option.extra_item_id, "data-unit-option-activator" => option.unit_option_activator_id, 'data-value-points' => option.value_points}) do %>

      <% if option.MagicPath? %>
      <%= image_tag option.domain_magic.logo.url(:thumb), alt: option.display_name, height: 50,class: 'block-center' %>
      <% end %>

      <% unless option.is_magics_or_extra %>
        <%= check_box_tag "builder_army_list_unit[army_list_unit_unit_options_attributes][#{option.id}][_destroy]", false, army_list_unit.unit_options.member?(option), :id => "builder_army_list_unit_unit_option_ids_#{option.id}", "data-depend" => depend.try(:id), "data-radio" => option.is_unique_choice ? true : nil, "data-per-model" => option.is_per_model ? true : nil, "data-is-multiple" => option.is_multiple ? true : nil, "data-value-points" => option.value_points, "data-extra-item" => option.extra_item_id, "data-unit-option-activator" => option.unit_option_activator_id %>
      <%end%>
      <%= option.display_name %>
      <% unless option.infos.nil? %>
        <small>(<%= content_tag(:span, option.infos, {:class => 'tooltiptext'}) %>)</small>
      <% end %>
    <% end %>

    <% if option.is_multiple %>
      x <%= number_field_tag "builder_army_list_unit[army_list_unit_unit_options_attributes][#{option.id}][quantity]", army_list_unit_unit_option.try(:quantity), :min => 1, :disabled => !army_list_unit.unit_options.member?(option), "data-per-model" => option.is_per_model ? true : nil, :class => "army_list_unit_unit_option_quantity", :style => "position:relative; top:0; height:1.5em; width:20px; text-align:center;" %>
    <% else %>
      <%= hidden_field_tag "builder_army_list_unit[army_list_unit_unit_options_attributes][#{option.id}][quantity]", option.is_per_model ? army_list_unit.size : 1, :disabled => !army_list_unit.unit_options.member?(option) ? nil : true, "data-per-model" => option.is_per_model ? true : nil %>
    <% end %>

    <%= hidden_field_tag "builder_army_list_unit[army_list_unit_unit_options_attributes][#{option.id}][id]", army_list_unit_unit_option.try(:id) %>
    <%= hidden_field_tag "builder_army_list_unit[army_list_unit_unit_options_attributes][#{option.id}][unit_option_id]", option.id %>
  <% end %>

  <% if option.children.any? %>
    <%= content_tag(:ul, {:class => ("list-inline text-center" if all_magics), "data-one-choise" => option.has_one_choise, :style => ("display: none;" if disable) }) do %>
      <%= render :partial => 'builder/army_list_units_unit_options/edit', :collection => option.children.all, :as => :option, :locals => {:army_list_unit => army_list_unit, :has_one_choise => option.has_one_choise} %>
    <% end %>
  <% end %>

  <% unless option.mount_id.nil? %>
    <%= content_tag(:ul, {:style => ("display: none;" if disable), "data-one-choise" => option.has_one_choise }) do %>
      <%= render :partial => 'builder/army_list_units_unit_options/edit', :collection => option.mount.unit_options.all, :as => :option, :locals => {:army_list_unit => army_list_unit} %>
    <% end %>
  <% end %>
</li>
