<% title t('password_change.title') -%>

<h2><%=t 'password_change.title' %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.password_field :password, placeholder: t('password_change.form.password'), autofocus: true, autocomplete: "off" %></p>

  <p><%= f.password_field :password_confirmation, placeholder: t('password_change.form.confirmation'), autocomplete: "off" %></p>

  <p><%= f.submit t('password_change.form.submit') %>
<% end %>

<%= link_to t('password_change.lost.password'), new_password_path(resource_name) %><br />
<%= link_to t('password_change.lost.confirmation'), new_confirmation_path(resource_name) %><br />
<%== t('password_change.information') %>
