<div class="popin">

  <h1 data-value-points="<%= @army_list_unit.unit.value_points %>" data-min-size="<%= @army_list_unit.unit.min_size %>" data-max-size="<%= @army_list_unit.unit.max_size %>"><%=t 'army_list_unit.edit.title' %><br /><%=transliterate @army_list_unit.unit.name %>
  <div style="float:right"><span style="font-size:34px;line-height:17px"><%= value_points(@army_list_unit.value_points) %></span> pts</div></h1>

  <%= form_for [@army_list, @army_list_unit], url: builder_army_list_army_list_unit_path do |f| %>
    <%= render "shared/form_errors", :object => @army_list_unit %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => t('army_list_unit.form.name'), class: 'form-control' %>
    </div>

    <% if @army_list_unit.unit.min_size != @army_list_unit.unit.max_size %>
      <table id="army_list_unit_troops">
        <% @army_list_unit.army_list_unit_troops.reject{ |alut| @army_list_unit.unit.value_points and alut.position > 1 or @army_list_unit.unit.value_points.nil? and alut.troop.value_points.nil? }.each do |army_list_unit_troop| %>
        <tr data-value-points="<%= army_list_unit_troop.troop.value_points %>" data-min-size="<%= army_list_unit_troop.troop.min_size %>">
          <%= f.fields_for :army_list_unit_troops, army_list_unit_troop do |troop_fields| %>
          <td><%= troop_fields.label :size, army_list_unit_troop.troop.name + " x" %></td>
          <td><%= troop_fields.number_field :size, :min => @army_list_unit.unit.min_size, :max => @army_list_unit.unit.max_size, :class => "army_list_unit_troop_size" %></td>
          <td><span class="army_list_unit_troop_size_value"><%= army_list_unit_troop.size %></span> * <%= value_points(army_list_unit_troop.troop.value_points || @army_list_unit.unit.value_points) %> pts<%=t :per_model %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    <% end %>

    <div id="army_list_unit_all_options">

    <% if @available_unit_options.any? %>
      <div id="army_list_unit_unit_options" class="col-sm-12 col-md-6 army_list_unit_add_element" style="padding: 0 !important;">
        <h3><%=t 'army_list_unit.edit.options' %><br /><span><%= value_points(@army_list_unit.unit_options_value_points) %></span> pts</h3>
        <ul class="">
          <!-- IGNORE MAGIC ITEMS/STANTARDS -->
          <%= render :partial => 'builder/army_list_units_unit_options/edit', :collection => @available_unit_options.all, :as => :option, :locals => { :army_list_unit => @army_list_unit } %>
        </ul>
      </div>
    <% end %>

    <% if @magic_items_option || @extra_items_option || @magic_standards_option %>
      <div class="col-sm-12 col-md-6" style="padding: 0 !important;">
    <%end%>

      <% if @magic_items_option %>
        <div id="army_list_unit_magic_items" class="col-sm-12 col-md-12 army_list_unit_add_element" data-value-points-limit="<%= @magic_items_option.value_points %>">
          <h3><%=t 'army_list_unit.edit.magic_items' %><br /><span class="points"><%= value_points(@army_list_unit.magic_items_value_points + (@magic_items_option.is_extra_items? ? @army_list_unit.extra_items_value_points : 0)) %></span>/<span class="max-points"><%= value_points(@magic_items_option.value_points) %></span> pts</h3>
          <ul>
            <% NinthAge::MagicItemCategory.all.each_with_index do |magic_item_category, index| %>
            <%- magic_items = magic_item_category.magic_items.available_for(@army_list.army, @army_list.army.version, @magic_items_option.value_points).all %>
            <%- next if magic_items.empty? %>
            <li>
              <strong class="<%= @army_list_unit.magic_items.where(:magic_item_category_id => magic_item_category.id).empty? ? 'empty' : '' %>"><%= magic_item_category.name %></strong>
              <ul style="<%= 'display:none' if index > 0 %>">
                <%= render :partial => 'builder/army_list_units_magic_items/edit', :collection => magic_items, :as => :magic_item, :locals => { :army_list => @army_list, :army_list_unit => @army_list_unit, :unit_option => @magic_items_option } %>
              </ul>
            </li>
            <% end %>
            <% if @magic_items_option.is_extra_items? %>
            <% @army_list.army.extra_item_categories.each do |extra_item_category| %>
            <li>
              <strong><%= extra_item_category.name %></strong>
              <ul style="display:none">
                <%= render :partial => 'builder/army_list_units_extra_items/edit', :collection => NinthAge::ExtraItem.available_for(extra_item_category, @magic_items_option.value_points).all, :as => :extra_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @magic_items_option } %>
              </ul>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @extra_items_option %>
        <div id="army_list_unit_extra_items" class="col-sm-12 col-md-12 army_list_unit_add_element" data-value-points-limit="<%= @extra_items_option.value_points %>">
          <% if @army_list.army.extra_item_categories.length > 1 %>
          <h3><%=t 'army_list_unit.edit.extra_items' %><br /><span class="points"><%= value_points(@army_list_unit.extra_items_value_points) %></span><% unless @extra_items_option.value_points.nil? %>/<span class="max-points"><%= value_points(@extra_items_option.value_points) %></span><% end %> pts</h3>
          <ul>
            <% @army_list.army.extra_item_categories.each_with_index do |extra_item_category, index| %>
            <%
              extra_items = NinthAge::ExtraItem.available_for(extra_item_category, @extra_items_option.value_points).all
            %>
            <li>
              <strong class="<%= @army_list_unit.extra_items.where(:extra_item_category_id => extra_item_category.id).empty? ? 'empty' : '' %>"><%= extra_item_category.name %></strong>
              <ul style="<%= 'display:none' if index > 0 %>">
                <%= render :partial => 'builder/army_list_units_extra_items/edit', :collection => extra_items, :as => :extra_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @extra_items_option, :is_unique => extra_item_category.is_unique } %>
              </ul>
            </li>
            <% end %>
          </ul>
          <% else %>
          <h3><%=transliterate @army_list.army.extra_item_categories.first.name %><br /><span><%= value_points(@army_list_unit.extra_items_value_points) %></span><% unless @extra_items_option.value_points.nil? %>/<%= value_points(@extra_items_option.value_points) %><% end %> pts</h3>
          <ul>
            <%= render :partial => 'builder/army_list_units_extra_items/edit', :collection =>  NinthAge::ExtraItem.available_for(@army_list.army.extra_item_categories.first, @extra_items_option.value_points).all, :as => :extra_item, :locals => { :army_list_unit => @army_list_unit, :unit_option => @extra_items_option, :is_unique => @army_list.army.extra_item_categories.first.is_unique } %>
          </ul>
          <% end %>
        </div>
      <% end %>

      <% if @magic_standards_option %>
        <div id="army_list_unit_magic_standards" class="col-sm-12 col-md-12 army_list_unit_add_element">
          <h3><%=t 'army_list_unit.edit.magic_standards' %><br /><span class="points"><%= value_points(@army_list_unit.magic_standards_value_points) %></span><% unless @magic_standards_option.value_points.nil? %>/<span class="max-points"><%= value_points(@magic_standards_option.value_points) %></span><% end %> pts</h3>
          <ul>
            <%= render :partial => 'builder/army_list_units_magic_standards/edit', :collection =>  NinthAge::MagicStandard.available_for(@army_list.army, @army_list.army.version, @magic_standards_option.value_points).all, :as => :magic_standard, :locals => { :army_list_unit => @army_list_unit, :unit_option => @magic_standards_option } %>
          </ul>
        </div>
      <% end %>

    <% if @magic_items_option || @extra_items_option || @magic_standards_option %>
      </div>
    <%end%>

    <div class="clear"></div>

    <% if @army_list_unit.unit.magic? %>
    <div class="form-group">
      <%= f.label :magic %>
      <%= f.text_area :magic, :placeholder => t('army_list_unit.edit.form.magic'), :size => "", class: 'form-control' %>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes, :placeholder => t('army_list_unit.edit.form.notes'), :size => "", class: 'form-control' %>
    </div>

    <%= f.submit t(:save), class: 'btn btn-age' %>
  <% end %>

</div>