<div class="col-md-12 col-xs-12 col-sm-12 @army-organisation-<%= @army_organisation.id %>">
  <h1 class="text-center"><%= @army_organisation.name %></h1>
  <p><%= @army_organisation.description %></p>

  <div class="row">
    <h2 class="text-center"><%= @army_organisation.name %></h2>
    <p><%= @army_organisation.description %></p>
    <ul class="list-flex">
      <% @army_organisation.organisation_groups.each do |organisation_group| %>
          <li>
            <%= image_tag(organisation_group.organisation.medium_logo_url, alt: organisation_group.organisation.name, size: '75x75') %>
            <p><%= organisation_group.organisation.name.gsub(/\(([\w,\ \+\.\(\)\-]*)\)/, '<span class="text-small">(\1)</span>').html_safe %></p>
            <% if organisation_group.NoLimit? || organisation_group.NotAllowed? %>
                <p><span class="text-small">(<%= organisation_group.display_type_target %>)</span></p>
            <% else %>
                <p><span class="text-small">(<%= organisation_group.target %> <%= organisation_group.display_type_target %>)</span></p>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>