<div class="show-tournament">
  <%= link_to(tournament_organisations_path(), {:class => 'btn btn-age pull-right'}) do %><%= t('tournament.event.back') %><% end %>
  <%= link_to("", {:class => 'btn btn-age pull-right', :id => "add-round", data: {event_id: @event.id} }) do %> <i class="fa fa-plus"></i> <%= t('tournament.round.add') %> <% end %>

  <h1 class="event-name"><strong><%= t('tournament.event.name') %>:</strong> <%= @event.name %></h1>
  <p class="event-date"><small>(<%= @event.start_date.strftime(t('picker.datetime.rb')) %> to <%= @event.end_date.strftime(t('picker.datetime.rb')) %>)</small></p>

  <table class="list-user-points col-md-12 col-sm-12">
  	<thead>
  		<tr>
  			<th><%= t('tournament.user_apply.name') %></th>
          <th><%= link_to(tournament_custom_points_path(@event)) do %> <%= t('tournament.custom_point.name') %> <i class="fa fa-edit"></i><%end%></th>
  			<% @event.rounds.each do |round| %>
  				<th><%= link_to(tournament_round_path(@event, round)) do %> <%= t('tournament.round.name') %> <%= round.position %> <i class="fa fa-edit"></i><%end%></th>
  			<% end %>
  			<th><%= t('tournament.event.total') %></th>
  		</tr>
  	</thead>
  	<tbody>
  		<% @event.user_applies.each do |apply| %>
  		<tr>
  			<td><%= apply.name %></td>
        <%
          custom_point = @event.custom_points.find_by({ :user_apply_id => apply.id })
          pwl_points = 0
          pwl_points = custom_point.total_points unless custom_point.nil?
        %>
  			<td><%= pwl_points %></td>
  			<% @event.rounds.each do |round| %>
          <%
            match = round.matches.find_by({ :user_apply_id => apply.id })
            points = 0
            unless match.nil?
              points = match.points
            end
          %>
        <td><%= points %></td>
  			<% end %>
        <%
          total = 0
          total = @event.matches
                        .where({ :user_apply_id => apply.id })
                        .map(&:points)
                        .sum
        %>
        <td><%= total + pwl_points %></td>
  		</tr>
  		<% end %>
  	</tbody>
  </table>
</div>