<div class="show-tournament">
  <%= link_to(tournament_organisations_path(), {:class => 'btn btn-age pull-right'}) do %><%= t('tournament.event.back') %><% end %>
  <%= link_to("", {:class => 'btn btn-age pull-right', :id => "add-round", data: {event_id: @event.id} }) do %> <i class="fa fa-plus"></i> <%= t('tournament.round.add') %> <% end %>
  <%= link_to(tournament_exports_path(@event, :format => 'pdf'), {'target' => '_blank', 'class' => 'pull-right'}) do %><i class="fa fa-print fa-2x" aria-hidden="true"></i><% end %>
  

  <h1 class="event-name"><strong><%= t('tournament.event.name') %>:</strong> <%= @event.name %></h1>
  <p class="event-date"><small>(<%= @event.start_date.strftime(t('picker.datetime.rb')) %> to <%= @event.end_date.strftime(t('picker.datetime.rb')) %>)</small></p>

<%
    points = @event.user_applies
            .joins(:custom_points)
            .group_by  {|h| h.id}
            .map{|k,v| [k,v.map{ |m| m.custom_points.map{ |c| c.total_points }.sum }.sum] }

    points = points + @event.matches
            .group_by  {|h| h.user_apply_id}
            .map{|k,v| [k,v.map{ |m| m.points }.sum] }

    results = points.group_by  {|h| h[0]}
                    .map{|k,v| [k,v.map{ |m| m[1] }.sum] }
                    .sort{|x,y| y[1] <=> x[1]}
    users = results.map{ |k| k[0]}
%>

  <table class="list-user-points col-md-12 col-sm-12">
  	<thead>
  		<tr>
  			<th><%= t('tournament.user_apply.name') %></th>
          <th><%= link_to(tournament_custom_points_path(@event)) do %> <%= t('tournament.custom_point.name') %> <i class="fa fa-edit"></i><%end%></th>
  			<% @event.rounds.each do |round| %>
  				<th><%= link_to(tournament_round_path(@event, round)) do %> <%= t('tournament.round.name') %> <%= round.position %> <i class="fa fa-edit"></i><%end%></th>
  			<% end %>
  			<th><%= t('tournament.event.total') %></th>
  		</tr>
  	</thead>
  	<tbody>
      <% users.each_with_index do |user,index| %>
      <%
        apply = @event.user_applies.find_by({:id => user})
      %>
  		<tr>
  			<td><%= apply.name %></td>
        <%
          custom_point = @event.custom_points.find_by({ :user_apply_id => apply.id })
          pwl_points = 0
          pwl_points = custom_point.total_points unless custom_point.nil?
        %>
  			<td><%= pwl_points %></td>
  			<% @event.rounds.each do |round| %>
          <%
            match = round.matches.find_by({ :user_apply_id => apply.id })
            points = 0
            unless match.nil?
              points = match.points
            end
          %>
        <td><%= points %></td>
  			<% end %>
        <%
          total = 0
          total = @event.matches
                        .where({ :user_apply_id => apply.id })
                        .map(&:points)
                        .sum
        %>
        <td>
          <%= total + pwl_points %>
          <% unless (total + pwl_points) == 0 %>
            <% if index == 0 %>
              <i class="fa fa-trophy" style="color: gold"></i>
            <% elsif index == 1 %>
              <i class="fa fa-trophy" style="color: silver"></i>
            <% elsif index == 2 %>
              <i class="fa fa-trophy" style="color: #cd7f32"></i>
            <% end %>
          <% end %>
        </td>
  		</tr>
  		<% end %>
  	</tbody>
  </table>

  <div class="col-sm-12 col-md-12  zone-podium">
    <div class="competition-podium well">
    <%
        totaux = results.map{ |k| k[0]}
    %>
      <div class="podium-block bronze">
        <% if totaux.size >= 3 %>
          <% apply =  @event.user_applies.find(totaux[2])  %>
        <div class="name"><i class="fa fa-trophy fa-2x" style="color: #cd7f32"></i><%= apply.name %></div>
        <% end %>
        <div class="podium"><span>3<sup>ème</sup></span></div>
      </div>
      <div class="podium-block gold">	
        <% if totaux.size >= 1 %>
          <% apply =  @event.user_applies.find(totaux[0])  %>
        <div class="name"><i class="fa fa-trophy fa-2x" style="color: gold"></i><%= apply.name %></div>
        <% end %>
        <div class="podium"><span>1<sup>er</sup></span></div>
      </div>
      <div class="podium-block silver">	
        <% if totaux.size >= 2 %>
          <% apply =  @event.user_applies.find(totaux[1])  %>
        <div class="name"><i class="fa fa-trophy fa-2x" style="color: silver"></i><%= apply.name %></div>
        <% end %>
        <div class="podium"><span>2<sup>ème</sup></span></div>
      </div>

    </div>
  </div>

</div>