<%

depend = unit_option.parent

while !depend.nil? and depend.value_points.nil? do
  depend = depend.parent
end

count = army_list_unit.magic_standards.where(:id => magic_standard.id).count
max = magic_standard.max
disable = (max != 0 && count == max && !army_list_unit.magic_standards.member?(magic_standard))
%>
<li>
  <em><span><%= value_points(magic_standard.value_points) %></span> pts</em>
  <%= content_tag(:label, {:class => ("disable" if disable)}) do %>
  	<%= check_box_tag "builder_army_list_unit[magic_standard_ids][]", magic_standard.id, army_list_unit.magic_standards.member?(magic_standard), :id => "builder_army_list_unit_magic_standard_ids_#{magic_standard.id}", "data-depend" => depend.try(:id), "data-radio" => army_list_unit.army_list.army.id != 22, "data-value-points" => magic_standard.value_points, 'disabled' => disable %>
  	<%= magic_standard.name %>
  	<% if max != 0 %>
  	  <small>(<span class="current" data-count="<%= count %>"><%= count %></span>/<span class="max" data-max="<%= max %>"><%= max %></span>)</small>
  	<% end %>
  <% end %>
</li>
