<%

depend = unit_option.parent

while !depend.nil? and depend.value_points.nil? do
  depend = depend.parent
end

army_list_unit_magic_standard = army_list_unit.army_list_unit_magic_standards.detect { |alumi| alumi.magic_standard_id == magic_standard.id }

count = army_list_unit.army_list.magic_standards.where(:id => magic_standard.id).count
max = magic_standard.max
disable = (max != 0 && count == max && !army_list_unit.magic_standards.member?(magic_standard))
%>
<li>
  <%= hidden_field_tag "builder_army_list_unit[army_list_unit_magic_standards_attributes][#{magic_standard.id}][_destroy]", 1 %>
  <em><%= content_tag(:span, value_points(magic_standard.value_points), { 'data-value-points' => value_points(magic_standard.value_points)}) %> pts</em>
  <%= content_tag(:label, {:class => ("disable" if disable)}) do %>
    <%= check_box_tag "builder_army_list_unit[army_list_unit_magic_standards_attributes][#{magic_standard.id}][_destroy]", false, army_list_unit.magic_standards.member?(magic_standard), :id => "army_list_unit_magic_standard_ids_#{magic_standard.id}", data: { depend: depend.try(:id), value_points: magic_standard.value_points }, disabled: disable %>
    <%= magic_standard.name %>
    <% if max != 0 %>
      <small>(<span class="current" data-count="<%= count %>"><%= count %></span>/<span class="max" data-max="<%= max %>"><%= max %></span>)</small>
    <% end %>
  <% end %>

  <%= hidden_field_tag "builder_army_list_unit[army_list_unit_magic_standards_attributes][#{magic_standard.id}][id]", army_list_unit_magic_standard.try(:id) %>
  <%= hidden_field_tag "builder_army_list_unit[army_list_unit_magic_standards_attributes][#{magic_standard.id}][magic_standard_id]", magic_standard.id %>
</li>