<% content_for :title do %>Equipment <%= @ninth_age_equipment.name %><% end %>
<% content_for :head do %>
    <meta property="og:site_name" content="9th Age Builder"/>
    <meta property="og:title" content="Equipment <%= @ninth_age_equipment.name %>" />
    <meta property="og:url" content="<%= url_for(:only_path => false) %>"/>
    <meta property="og:image" content="<%= request.scheme + '://' + request.host_with_port + image_path('bt_lexicon.png') %>"/>
    <meta property="og:description" content="<%= @ninth_age_equipment.description %>">
<% end %>
<%
  access_admin = user_signed_in? and (current_user.has_role? :administrator or current_user.has_role? :moderator)
%>
<div style="position: relative; clear: both;">
  <% if access_admin %>
    <div style="position: relative;">
      <%= link_to(admin_ninth_age_equipment_path(@ninth_age_equipment.id), {:target => "_blank", :style => "position: absolute;top: 10px;right: 10px;z-index: 1000;"}) do %>
        <i class="fa fa-4x fa-edit"></i>
      <% end %>
    </div>
  <% end %>
  <h1><%= @ninth_age_equipment.name %></h1>
  <div>
    <p><%= raw @ninth_age_equipment.description.to_highlight unless @ninth_age_equipment.description.nil? %></p>
  </div>
</div>
