<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : t(:welcome) %> • 9th Age Builder</title>
  <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= javascript_tag "BASE_URL = '#{root_path}';" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

<div id="wrapper">
  <div id="header" class="container_16">
    <h1 class="grid_3 suffix_9">
      <a href="<%= root_path %>">The 9th Age<br />
      <em>Army Builder</em></a>
    </h1>
    <div class="grid_4 welcome">
      <% if user_signed_in? %>
      <strong><%=t 'menu.label' %> <%= image_tag "menu_arrow.png", :size => "11x9" %></strong>
      <% else %>
      <%= link_to t('menu.signin'), new_session_path(resource_name) %>
      <%= link_to t('menu.signup'), new_registration_path(resource_name) %>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <ul class="menu" style="display:none">
      <li><%= link_to t('menu.army_lists'), army_lists_path("q[army_id_eq]" => "") %></li>
      <li><%= link_to t('menu.preferences'), edit_user_registration_path %></li>
      <li><a href="mailto:support@9thbuilder.com"><%=t 'menu.help' %></a></li>
      <li><%= link_to t('menu.signout'), destroy_user_session_path %></li>
    </ul>
    <% end %>
  </div>

  <div id="content" class="container_16">
    <%= yield %>
  </div>

  <div id="footer" class="container_16">
    <div class="grid_16 links">
      <%= render "shared/links" %>
    </div>
  </div>
</div>

<%= render "shared/flash_messages" %>

<%= render "layouts/ga" if Rails.env.production? %>

</body>
</html>

