<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= content_for?(:title) ? yield(:title) : t(:welcome) %> • 9th Age Builder</title>
  <%= stylesheet_link_tag "application", media: 'all' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrD-88cDgY6e-yxhiKEvi1JGr-w-6ICPg&libraries=places" async defer></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag "BASE_URL = '#{root_path}';" %>
  <%= csrf_meta_tag %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% else %>
    <meta property="og:site_name" content="<%= content_for?(:title) ? yield(:title) : t(:welcome) %> • 9th Age Builder"/>
    <meta property="og:title" content="Compose your favorite armies !" />
    <meta property="og:url" content="<%= url_for(:only_path => false) %>"/>
    <meta property="og:image" content="<%= request.scheme + '://' + request.host_with_port + asset_path('9th_builder.jpg') %>"/>
    <meta property="og:description" content="<%= t('home.whoarewe.description') %>">
  <% end %>
</head>
<body>

  <!-- Navigation -->
  <nav id="wrapper" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">The 9th Age<br/><em>Army Builder</em></a>

        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F9thbuilder%2F&width=144&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=264383440410252" width="144" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= t('menu.languages.lang') %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% I18n.available_locales.each do |language| %>
                  <li>
                    <%= link_to "#{image_tag(asset_path("langues/langue-#{language}.png"))} #{t("menu.languages.#{language}")}".html_safe, url_for(locale: language.to_s, only_path: true) %>
                  </li>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle current-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.gravatar_url(:secure => :true, :default => 'identicon'), class: 'gravatar' %> <%= current_user.name %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to t('menu.army_lists'), builder_army_lists_path("q[army_id_eq]" => "") %></li>
                  <li><%= link_to t('menu.preferences'), edit_user_registration_path %></li>
                  <li><a href="mailto:support@9thbuilder.com"><%=t 'menu.help' %></a></li>
                  <%if current_user.has_role? :administrator or current_user.has_role? :moderator %>
                  <li><%= link_to t('admin.dashboard'), admin_dashboard_path %></li>
                  <%end%>
                  <%if current_user.has_role? :administrator or current_user.has_role? :organisator %>
                  <li><%= link_to t('admin.tournament'), tournament_organisations_path %></li>
                  <%end%>
                  <li><%= link_to t('menu.signout'), destroy_user_session_path %></li>
                </ul>
              </li>
          <% else %>
              <li>
                <%= link_to("<span class=\"glyphicon glyphicon-log-in\"></span> #{t('signin.title')}".html_safe, new_user_session_path) %>
              </li>
              <li>
                <%= link_to("<span class=\"glyphicon glyphicon-saved\"></span> #{t('signup.title')}".html_safe, new_user_registration_path) %>
              </li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container" style="margin:40px auto 25px auto;">
    <noscript>
      <div id=no-script>
        Please enable javascript in your browser if you want to use this site.
      </div>
    </noscript>
    <!-- Page Features -->
    <div class="row">
      <%= yield %>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%= render "shared/flash_messages" %>

  <!-- Footer -->
  <footer id="footer">
    <div class="container links">
      <%= render "shared/links" %>
    </div>
  </footer>

  <%= render "layouts/ga" if Rails.env.production? %>
</body>
</html>

