<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=t :welcome %> • 9th Age Builder</title>
  <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tag %>
  <link rel="alternate" hreflang="en" href="http://9thbuilder.com/en" />
  <link rel="alternate" hreflang="fr" href="http://9thbuilder.com/fr" />
</head>
<body>

<div id="wrapper_home">
  <div class="container_16 home">
    <%= yield %>

    <div id="footer" class="grid_16">
      <div class="links">
        <a href="https://www.facebook.com/9thbuilder" target="_blank">facebook.com/9thbuilder</a> <%= image_tag "pict_links.png", :size => "18x11" %>
        <a href="http://twitter.com/9thbuilder" target="_blank">twitter.com/9thbuilder</a> <%= image_tag "pict_links.png", :size => "18x11" %>
        <a href="mailto:support@9thbuilder.com"><%=t :help %></a> <%= image_tag "pict_links.png", :size => "18x11" %>
        <a href="http://waaagh-taverne.fr" target="_blank">waaagh taverne</a>
      </div>
    </div>
  </div>
</div>

<%= render "shared/flash_messages" %>

<%= render "layouts/ga" if Rails.env.production? %>

</body>
</html>
