<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= t :welcome %> • 9th Age Builder</title>
  <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tag %>
  <link rel="alternate" href="http://9thbuilder.com" hreflang="x-default"/>
  <link rel="alternate" href="http://9thbuilder.com/en" hreflang="en"/>
  <link rel="alternate" href="http://9thbuilder.com/fr" hreflang="fr"/>
    <meta property="og:site_name" content="9th Age Builder"/>
    <meta property="og:title" content="Compose your favorite armies !" />
    <meta property="og:url" content="<%= url_for(:only_path => false) %>"/>
    <meta property="og:image" content="<%= request.scheme + '://' + request.host_with_port + asset_path('9th_builder.jpg') %>"/>
    <meta property="og:description" content="<%= t('home.whoarewe.description') %>">
</head>
<body>

<div id="wrapper_home">
  <noscript>
    <div id=no-script>
      Please enable javascript in your browser if you want to use this site.
    </div>
  </noscript>

  <div class="home container">
    <div class="row">
      <%= yield %>
    </div>

    <div id="footer">
      <div class="links">
        <%= render "shared/links" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/flash_messages" %>

<%= render "layouts/ga" if Rails.env.production? %>

</body>
</html>
