<h2><%=t 'profile.title' %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.text_field :name, placeholder: t('profile.form.name'), autofocus: true %></p>

  <p><%= f.email_field :email, placeholder: t('profile.form.email') %></p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <p><%= f.label :favorite_army_id, t('profile.form.favorite_army') %><br />
  <%= f.collection_select :favorite_army_id, NinthAge::Army.includes(:translations).order(:name), :id, :name_with_version, include_blank: true %></p>

  <p><i><%=t 'profile.form.password_help' %></i><br />
  <%= f.password_field :password, placeholder: t('profile.form.password'), autocomplete: "off" %></p>

  <p><%= f.password_field :password_confirmation, placeholder: t('profile.form.confirmation'), autocomplete: "off" %></p>

  <p><%= f.submit t('profile.form.submit') %></p>
<% end %>

<h3><%=t 'profile.delete.title' %></h3>

<p><%== t('profile.delete.information') %> <%= link_to t('profile.delete.link'), registration_path(resource_name), method: :delete, data: { confirm: 'Are you sure?' } %>.</p>
